.ui-datepicker {
  background-color: #FFF;
  border: 0px solid white;
  border-radius: 10px;
  padding: 10px;
}

.ui-datepicker-next {
  float: right;
}
.ui-datepicker-title {
  padding: 10px;
  text-align: center;
}
.ui-datepicker-calendar th {
  padding: 4px;
}

.card-body {
  margin: -15px;
  margin-bottom: -30px;
}

#upload-files {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 300px;
  align-items: center;
  padding-left: 15px;
  background: #fff;
  border-radius: 8px;
  border: 1px solid #e0e0e0;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1), 0 2px 5px rgba(0, 0, 0, 0.06);
  transition: box-shadow 0.3s ease-in-out;
}

label[for^="upload_"] {
  margin-botton: 0;
}

#upload-files {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

#upload-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}
