{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block content %}
<h1>Processing SINAN file</h1>
<br>
<div class="container">
  <div id="status-row" class="row h-50 pt-3 border border-dark border-3 align-items-center rounded-pill bg-warning text-white">
    <div class="col">
      <p>Chunking {{file_name}}</p>
    </div>
    <div class="col-4 text-center">
      <p id="status"></p>
    </div>
  </div>
</div>
<br>
<ul class="list-group" id="file-list">
  <li class="list-group-item bg-secondary text-white h-50">
    <div class="row">
      <div class="col">
        <p><b>File</b></p>
      </div>
      <div class="col-4 text-center">
        <p><b>Size</b></p>
      </div>
      <div class="col-4 text-center">
        <p><b>Status</b></p>
      </div>
    </div>
  </li>
</ul>

<script>

var chunk_status;

function updateProcessFile() {
    let intervalId = setInterval(() => {
        fetch('/upload/sinan/chunk-upload-file/?task_id={{task_id}}', {
            method: 'GET',
            headers: {
                'X-CSRFToken': '{{ csrf_token }}'
            }
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            return response.json();
        })
        .then(data => {
            chunk_status = data.task_status;
            $('#status').text(chunk_status);
            updateFileList();
            if (chunk_status === 'SUCCESS') {
              $('#status-row').removeClass('bg-warning bg-danger').addClass('bg-success');
            }
            else if (chunk_status === 'STARTED' || chunk_status === 'PENDING') {
              $('#status-row').removeClass('bg-success bg-danger').addClass('bg-warning');
            }
            else if (chunk_status === 'FAILURE') {
              $('#status-row').removeClass('bg-success bg-warning').addClass('bg-danger');
              $('#file-list').hide()
            }
            if (chunk_status !== 'STARTED' && chunk_status !== 'PENDING') {
                clearInterval(intervalId);
            }
        })
        .catch(error => {
            console.error('GET request error:', error);
        });
    }, 1000);
}

function updateFileList() {
    fetch('/upload/sinan/watch-uf-chunks/?dest_dir={{dest_dir}}', {
        method: 'GET',
        headers: {
            'X-CSRFToken': '{{ csrf_token }}'
        }
    })
    .then(response => {
        if (!response.ok) {
            throw new Error('Network response was not ok');
        }
        return response.json();
    })
    .then(data => {
        console.log('File list:', data.files);
        renderFileList(data.files);
    })
    .catch(error => {
        console.error('GET request error:', error);
    });
}

function renderFileList(files) {
    files.sort((a, b) => b.size - a.size);

    let fileList = document.getElementById('file-list');
    
    while (fileList.children.length > 1) {
        fileList.removeChild(fileList.lastChild);
    }

    files.forEach(file => {
        let listItem = document.createElement('li');
        listItem.classList.add('list-group-item');

        let row = document.createElement('div');
        row.classList.add('row');

        let fileNameCol = document.createElement('div');
        fileNameCol.classList.add('col');
        fileNameCol.textContent = `${file.file}`;

        let fileSizeCol = document.createElement('div');
        fileSizeCol.classList.add('col-4');
        fileSizeCol.classList.add('text-center');
        fileSizeCol.textContent = `${formatBytes(file.size)}`;

        let fileStatusCol = document.createElement('div');
        fileStatusCol.classList.add('col-4');
        fileStatusCol.classList.add('text-center');
        fileStatusCol.textContent = `${chunk_status}`;

        row.appendChild(fileNameCol);
        row.appendChild(fileSizeCol);
        row.appendChild(fileStatusCol);
        listItem.appendChild(row);
        fileList.appendChild(listItem);
    });
}

function formatBytes(a,b=2){if(!+a)return"0 Bytes";const c=0>b?0:b,d=Math.floor(Math.log(a)/Math.log(1024));return`${parseFloat((a/Math.pow(1024,d)).toFixed(c))} ${["Bytes","KiB","MiB","GiB"][d]}`}

updateProcessFile();
</script>
{% endblock %}

