{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block content %}
<div id="status"></div>
<br>
<div id="file-list"></div>

<script>

var chunk_status;

function updateProcessFile() {
    let intervalId = setInterval(() => {
        fetch('/upload/sinan/chunk-upload-file/?task_id={{task_id}}', {
            method: 'GET',
            headers: {
                'X-CSRFToken': '{{ csrf_token }}'
            }
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            return response.json();
        })
        .then(data => {
            chunk_status = data.task_status;
            $('#status').text(chunk_status);
            updateFileList();
            if (chunk_status !== 'STARTED' && chunk_status !== 'PENDING') {
                clearInterval(intervalId);
            }
        })
        .catch(error => {
            console.error('GET request error:', error);
        });
    }, 1000);
}

function updateFileList() {
    fetch('/upload/sinan/watch-uf-chunks/?dest_dir={{dest_dir}}', {
        method: 'GET',
        headers: {
            'X-CSRFToken': '{{ csrf_token }}'
        }
    })
    .then(response => {
        if (!response.ok) {
            throw new Error('Network response was not ok');
        }
        return response.json();
    })
    .then(data => {
        console.log('File list:', data.files);
        renderFileList(data.files);
    })
    .catch(error => {
        console.error('GET request error:', error);
    });
}

function renderFileList(files) {
    let fileList = document.getElementById('file-list');
    fileList.innerHTML = '';
    
    files.forEach(file => {
        let listItem = document.createElement('div');
        listItem.textContent = `File: ${file.file}, UF: ${file.uf}, Size: ${formatBytes(file.size)}`;
        fileList.appendChild(listItem);
    });
}

function formatBytes(a,b=2){if(!+a)return"0 Bytes";const c=0>b?0:b,d=Math.floor(Math.log(a)/Math.log(1024));return`${parseFloat((a/Math.pow(1024,d)).toFixed(c))} ${["Bytes","KiB","MiB","GiB"][d]}`}

updateProcessFile();
</script>
{% endblock %}

