{% load i18n %}
{% block searchbox_component %}
  <div class="municipality-search">
    <select class="form-control js-select2 municipality-search__control site-searchbox"
            id="searchbox"
            aria-label="{% translate 'Buscar município' %}"
            data-placeholder="{% blocktranslate %}Selecione um município...{% endblocktranslate %}">
      <option></option>
      {% for city in options_cities %}
        <option value="{{ city.geocode }}">{{ city.name }} - {{ city.state }}</option>
      {% endfor %}
    </select>
  </div>
{% endblock %}
