<div id="age-chart" class="chart-default"></div>
<script type="application/javascript">
var age_chart;

function _plot_chart_age() {
    var _values = [];
    var _columns_name = age_chart.xAxis[0].categories;
    var _counter = new Array(_columns_name.length).fill(0);

    var _data = data.filter(function(d) {
        return filter_gender(d) && filter_date(d) &&
            filter_disease(d) && filter_city(d)
    });

    var dataCount = d3.nest()
        .key(function(d) { return d.age; })
        .rollup(function(v) { return v.length; })
        .entries(_data);

    for (i in dataCount) {
        for (j in _columns_name) {
            if (dataCount[i].key == _columns_name[j]) {
                _counter[j] = dataCount[i].value;
            }
        }
    }

    age_chart.series[0].setData(_counter);

    var result = age_chart.getSelectedPoints().map(function(d){
        return d.category
    });

    if (result.length == 0) {
        for (j in age_chart.series[0].data) {
            age_chart.series[0].data[j].select(true, true);
        }
    }
}

function get_ages_selected() {
    // categories selection
    var categories_selected = age_chart.getSelectedPoints().map(function(d){
        return d.category
    });

    if (categories_selected.length == 0) {
        for (j in age_chart.series[0].data) {
            age_chart.series[0].data[j].select(true, true);
        }
    }

    return '&ages=' + categories_selected.join(',');
}

function plot_chart_age(filters) {
    var _values = [];
    var _columns_name = age_chart.xAxis[0].categories;
    var _counter = new Array(_columns_name.length).fill(0);
    var url = '/csv/notif_reduced?' + filters + '&chart_type=age';

    d3.csv(url, function(data){
        for (i in data) {
            for (j in _columns_name) {
                if (data[i].category == _columns_name[j]) {
                    _counter[j] = parseInt(data[i].casos);
                }
            }
        }

        // set data
        age_chart.series[0].setData(_counter);
    });
}

$(document).ready(function () {
    // Create the chart
    age_chart = Highcharts.chart('age-chart', {
        chart: {
            type: 'column',
            spacingBottom: 0,
            spacingTop: 0,
            spacingLeft: 0,
            spacingRight: 0
        },

        plotOptions: {
            series: {
                cursor: 'pointer',color: '#dfdfdf',
               // allowPointSelect: true,
                states: {
                    select: {
                        color: '#112C51'
                    }
                },
                point: {
                    events: {
                        click: function(event){
                            //this.slice(null);
                            this.select(null, true);
                            plots_refresh('age');
                        }
                    }
                }
            },
        },

        title: {
            text: ''
        },
        subtitle: {
            text: 'Distribuição por Idade'
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Casos'
            }
        },
        xAxis: {
            categories: [
                '00-04 anos', '05-09 anos', '10-19 anos', '20-29 anos',
                '30-39 anos', '40-49 anos', '50-59 anos', '60+ anos'
            ]
        },
        legend: {
            enabled: false
        },
        credits: {
            enabled: false
        },
        tooltip: {
            shared: true
        },

        series: [{
            "name": "casos",
            "data": [0, 0, 0, 0, 0, 0, 0, 0]
        }]
    });
});

</script>
