{% load i18n %}
<div id="disease-chart" style="height:100px"></div>

<script type="application/javascript">
var disease_chart;
var disease_chart_load = false;
var disease_categories;

function disease_click_bar(name) {
    if (name != '{{disease_label}}') {
        window.location.href = './' + name.toLowerCase();
    }
}


function _select_disease() {
    for (j in disease_chart.series[0].data) {
        if (disease_chart.series[0].data[j].name == '{{disease_label}}') {
            // inverted select
            disease_chart.series[0].data[j].select(false, true);
        } else {
            disease_chart.series[0].data[j].select(true, true);
        }
    }
}

function _get_diseases_selected() {
    // categories selection
    if (disease_chart==undefined) {
        return [];
    }
    var categories_selected = disease_chart.getSelectedPoints().map(function(d){
        return d.name;
    });

    // inverted select
    categories_selected = disease_categories.filter(
        n => categories_selected.indexOf(n) < 0
    );

    if (categories_selected.length == 0) {
        _select_disease();
    }

    return categories_selected;
}

function get_diseases_selected() {
    return '&diseases=' + _get_diseases_selected().join(',');
}

function plot_chart_disease(data){
    var _counter = new Array(disease_categories.length).fill(0);

    for (i in data) {
        for (j in disease_categories) {
            if (data[i].category == disease_categories[j]) {
                _counter[j] = parseInt(data[i].casos);
            }
        }
    }

    // set data
    disease_chart.series[0].setData(_counter);
}

$(document).ready(function () {
    var url = '/api/notif_reduced?chart_type=disease&state_abv=' + state_abv;

    $.get(url, function(csv) {
        disease_chart = Highcharts.chart('disease-chart', {
            chart: {
                type: 'column',
                spacingBottom: 0,
                spacingTop: 0,
                spacingLeft: 0,
                spacingRight: 0,
                events: {
                    load: function(event) {
                        //When is chart ready?
                        disease_categories = this.series[0].data.map(x => x.name);
                    }
                }
            },
            plotOptions: {
                series: {
                    cursor: 'pointer',
                    color: '#112C51',
                   // allowPointSelect: true,
                    states: {
                        select: {
                            color: '#dfdfdf',
                            borderColor: '#ffffff'
                        }
                    },
                    point: {
                        events: {
                            click: function(event){
                                //this.slice(null);
                                //this.select(true, false);
                                //plots_refresh('disease');
                                disease_click_bar(this.name);
                            },
                        }
                    }
                }
            },
            title: {
                text: ''
            },
            subtitle: {
                text: '{% blocktrans %}Casos notificados no Período{% endblocktrans %}'
            },
            yAxis: {
                min: 0,
                title: {
                    text: '{% blocktrans %}Casos{% endblocktrans %}'
                }
            },
            xAxis: {
                //categories: ['Dengue']
            },
            legend: {
                enabled: false
            },
            credits: {
                enabled: false
            },
            tooltip: {
                shared: true,
                useHTML: true,
                //headerFormat: '<b>{point.key}</b><br/>',
                footerFormat: '<small>**{% blocktrans %}Clique na categoria (coluna) para <br/>alterar seleção de filtro. A escolha da doença <br/>implica no recarregamento da página.{% endblocktrans %}</small>',
            },
            /*series: [{
                'name': 'casos',
                'data': [0]
            }]*/
            data: {
                csv: csv
            },
        });

        _select_disease();

        $('#disease-chart .highcharts-xaxis-labels text').on('click', function () {
            disease_click_bar($(this).text());
        });
    });
});
</script>
