<div id="disease-chart" style="height:200px"></div>

<script type="application/javascript">
$(document).ready(function () {
    Highcharts.chart('disease-chart', {
        data: {
            csv: `{{disease_dist}}`,
        },

        chart: {
            type: 'column',
            spacingBottom: 0,
            spacingTop: 0,
            spacingLeft: 0,
            spacingRight: 0
        },
        title: {
            text: ''
        },
        subtitle: {
            text: 'Distribuição por doença'
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Casos'
            }
        },
        legend: {
            enabled: false
        },
        credits: {
            enabled: false
        },
        tooltip: {
            shared: true
        },
    });
});
</script>
