{% load i18n %}
<div id="epiyears-chart" class="chart-default"></div>
<script type="application/javascript">
var epiyears_chart;

$(document).ready(function () {
    // Create the chart
    var url = '/api/notif_reduced?state_abv=' + state_abv +
        '&chart_type=epiyears&disease={{disease}}';

    $.get(url, function(csv) {
        epiyears_chart = Highcharts.chart('epiyears-chart', {
            chart: {
                type: 'line',
                spacingBottom: 0,
                spacingTop: 0,
                spacingLeft: 0,
                spacingRight: 0,
                zoomType: 'xy'
            },
            rangeSelector: {
                enabled: false
            },
            xAxis: {
                //type: 'date',
                title: {
                    text: '{% blocktrans %}Semana{% endblocktrans %}'
                }
            },
            title: {
                text: ''
            },
            subtitle: {
                text: '{% blocktrans %}Casos por semanas epidemiológicas{% endblocktrans %}'
            },
            yAxis: {
                min: 0,
                title: {
                    text: '{% blocktrans %}Casos{% endblocktrans %}'
                }
            },
            legend: {
                enabled: true
            },
            credits: {
                enabled: false
            },
            tooltip: {
                shared: true
            },
            data: {
                csv: csv
            },
            series: {
                showInNavigator: false,
            },
            plotOptions: {
                line: { /* or spline, area, series, areaspline etc.*/
                    marker: {
                       enabled: true,
                       radius: 0
                    }
                }
            }
        });

        var n = epiyears_chart.colorCounter-1;
        var color_value, _r, _g, _b;

        for (var i=0; i<n; i++) {
            color_value = epiyears_chart.series[i].color;
            _r = parseInt(color_value.substr(1, 2), 16);
            _g = parseInt(color_value.substr(3, 2), 16);
            _b = parseInt(color_value.substr(5, 2), 16);

            color_value = 'rgba(' + _r + ',' + _g + ',' + _b + ',0.3)';
            epiyears_chart.series[i].update({color: color_value});
        }

        epiyears_chart.series[n].update({
            lineWidth: 3,
            marker: { symbol: 'circle', radius: 4}
        });
    });
});
</script>
