<div id="gender-chart"></div>
<script type="application/javascript">
// Create the chart
$(document).ready(function () {
    $('#gender-chart').highcharts({
        chart: {
            type: 'column',
            spacingBottom: 0,
            spacingTop: 0,
            spacingLeft: 0,
            spacingRight: 0
        },
        data: {
            csv: `{{gender_dist}}`
        },
        title: {
            text: ''
        },
        subtitle: {
            text: 'Distribuição por gênero'
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Casos'
            }
        },
        legend: {
            enabled: false
        },
        credits: {
            enabled: false
        },
        tooltip: {
            shared: true
        }
    });
});
</script>
