<div id="gender-chart"></div>
<script type="application/javascript">
// Create the chart
var gender_chart;

$(document).ready(function () {
    gender_chart = Highcharts.chart('gender-chart', {
        chart: {
            type: 'column',
            spacingBottom: 0,
            spacingTop: 0,
            spacingLeft: 0,
            spacingRight: 0
        },
        data: {
            csv: `{{gender_dist}}`
        },

        plotOptions: {
            series: {
                cursor: 'pointer',
                allowPointSelect: true,
                point: {
                    events: {
                        select: function(e) {
                            var result = $('#gender').val() == '' ?
                                [] : $('#gender').val().split(',');

                            if (result.indexOf(this.name) == -1) {
                                result.push(this.name);
                            } else {
                                result = result.filter(
                                    (x,i) => i !== result.indexOf(this.name)
                                );
                            }

                            $('#gender').val(result.join());
                            $('#formFilters').submit();
                        }
                    }
                }
            },
            column: {

            }
        },

        title: {
            text: ''
        },
        subtitle: {
            text: 'Distribuição por gênero'
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Casos'
            }
        },
        legend: {
            enabled: false
        },
        credits: {
            enabled: false
        },
        tooltip: {
            shared: true
        }
    });
});
</script>
