{% load leaflet_tags %}
{% load lookup %}

{% leaflet_map "main" callback="main_map_init" %}

<script type="text/javascript">
    function isInArray(el, array) {
        return (array.indexOf(el) >= 0) ? true : false;
    }

    var mun_dict = {{ mun_dict|safe }};
    var alerta = {{ alerts_level|safe }};
    var case_series = {{ case_series|safe }};
    var recomendacoes;

    var municipios = L.featureGroup();
    var geo_ids = {{ geo_ids }};

    var features = L.layerGroup();
    var info = L.control();
    var legend = L.control({position: 'bottomright'});
    var alertLevels = [
        {name: 'Baixo Risco', color: '#0D6B0D'},
        {name: 'Atenção', color: '#C8D20F'},
        {name: 'Transmissão', color: '#E45205'},
        {name: 'Epidemia', color: '#FF0205'},
    ];

    $('.totalsparkline').sparkline('html', {
        type: 'bar',
        width: "auto",
        heigth: "auto",
        barWidth: "15px",
        barColor: "White",
        tooltipSuffix: " casos"
    });

    function style(feature) {
        var i = +feature.properties.alerta || 0;
        return {
            weight: 1,
            opacity: 1,
            color: 'white',
            dashArray: '3',
            fillOpacity: 0.6,
            fillColor: alertLevels[i].color
        };
    }

    function selected_style(feature) {
        var i = +feature.properties.alerta || 0;
        return {
            weight: 3,
            opacity: 1,
            color: 'white',
            dashArray: '3',
            fillOpacity: 0.8,
            fillColor: alertLevels[i].color
        };
    }

    function highlightFeature(e) {
        var layer = e.target;
        /*
        layer.setStyle({
            weight: 5,
            color: '#666',
            dashArray: '',
            fillOpacity: 0.7
        });*/
        if (!L.Browser.ie && !L.Browser.opera) {
            layer.bringToFront();
        }
        info.update(layer.feature.properties);

        renderSparkline(e);

        layer.bringToBack()
    }

    function resetHighlight(e) {
        //geojson.resetStyle(e.target);
        info.update();
    }

    function renderSparkline(e) {
        $('.inlinesparkline').sparkline('html', {
            type: 'bar',
            width: "14em",
            heigth: "5em",
            barWidth: "9em",
            tooltipSuffix: " casos"
        });
    }

    function main_map_init(map, options) {
        $(document).data('map', map);

        map.setView(
            new L.latLng(
                {{map_center|lookup:0|safe}}, {{map_center|lookup:1|safe}}
            ), {{map_zoom}}
        );

        //map._layersMaxZoom=13
        recomendacoes = {
            0: "Hora de arrumar o quintal, cobrir caixas d'água, <a " +
               "href='http://www.riocontradengue.rj.gov.br/Site/Conteudo" +
               "/Eliminar.aspx'>Não deixe criadouros para o mosquito!</a>",
            1: 'Uma vez por semana, aplique os <a href="http://www.' +
               'riocontradengue.com.br/Site/Conteudo/Checklist.aspx">' +
               '“10 minutos Contra a dengue”!</a>',
            2: 'Fique <a href="http://www.riocontradengue.rj.gov.br/Site' +
               '/Conteudo/FiqueAtento.aspx">atento aos sintomas da Dengue!' +
               '</a> Procure um médico caso suspeite de dengue.',
            3: 'Fique <a href="http://www.riocontradengue.rj.gov.br/Site' +
               '/Conteudo/FiqueAtento.aspx">atento aos sintomas da Dengue!' +
               '</a> Procure um médico caso suspeite de dengue.'
        };

        // control that shows state info on hover
        info.onAdd = function (map) {
            this._div = L.DomUtil.create('div', 'info');
            this.update();
            return this._div;
        };

        info.update = function (props) {
            this._div.innerHTML = '' +
                '<h6>Número de casos estimados na semana:</h6>' +
                (props ?
                 '<b>'+ props.nome + ':' + props.casos + '</b><br />' :
                 'Passe o mouse sobre o mapa');
        };

        info.addTo(map);

        legend.onAdd = function () {
            var div = L.DomUtil.create('div', 'info legend'),
                    labels = alertLevels.map(function (alertLevel) {
                        return '<i style="background:' + alertLevel.color +
                            '"></i> ' + alertLevel.name;
                    }).reverse();
            labels.push('O: Unidades de Saúde');
            div.innerHTML = labels.join('<br>');
            return div;
        };

        legend.addTo(map);

        function fill_details(feature, layer){
            geo_id = parseInt(feature.properties.geocodigo);

            feature.properties.alerta = alerta[geo_id];
            feature.properties.series = case_series[geo_id];
            feature.properties.casos = (
                case_series[geo_id][case_series[geo_id].length -1]
            );

            layer.bindPopup(
                "<b>" + mun_dict[geo_id] + "</b>" + "<br>" +
                "Casos estimados: " + feature.properties.casos +
                "<br>Últimas semanas: <span class='inlinesparkline'>" +
                feature.properties.series + "</span><br>" +
                "<br>" +
                "<a href=/alerta/" + geo_id.toString() +
                "/><u>Mais detalhes</u></a>"
            );

            layer.setStyle(style(feature))
            layer.on({
                mouseover: highlightFeature,
                mouseout: resetHighlight,
                popupopen: renderSparkline,
                click: function(){layer.setStyle(selected_style(feature))}
            });
        };

        for (var i=0; i < geo_ids.length; i++){
            var gc = geo_ids[i];
            $.getJSON('/static/geojson/' + gc.toString() + '.json', function(data){
                geojson = L.geoJson(
                    data, {style: style, onEachFeature: fill_details}
                );
                municipios.addLayer(geojson, true);
            });
        };

        municipios.addTo(map);

        var overlayMaps = {
            'Municípios': municipios
        };

        var controls = L.control.layers(null, overlayMaps, {collapsed: true});

        controls.addTo(map);

        map.touchZoom.disable();
        map.doubleClickZoom.disable();
        map.boxZoom.disable();
        map.keyboard.disable();
        map.touchZoom.disable();
        map.doubleClickZoom.disable();

    }
</script>