*.log
*.pot
*.pyc
local_settings.py
.idea/*
settings.ini
/bin
/include
/lib
/AlertaDengue/geodjango.db
pip-selfcheck.json
/shapely
/share/
.env
*.sw[po]
docker_shared_files
/bin
/include
/lib
/AlertaDengue/geodjango.db
/AlertaDengue/static_files/*
/AlertaDengue/static/geojson/*.json
/AlertaDengue/static/shapefile/*
pip-selfcheck.json
/shapely
/share
.ipynb_checkpoints
geodjango.db
chunked_uploads
authorized_keys
Dockerfile-dev
/AlertaDengue/*.dbf
/*.dbf
*.egg-info
/dev_dump/
/dist/
/build/
/tiffs/
