*.log
*.pot
*.pyc
local_settings.py
.idea/*
settings.ini
/bin
/include
/lib
/AlertaDengue/geodjango.db
pip-selfcheck.json
/shapely
/share/
.env
*.sw[po]
docker_shared_files
/bin
/include
/lib
/AlertaDengue/geodjango.db
pip-selfcheck.json
/shapely
/share
.ipynb_checkpoints
notebooks_tmp/
geodjango.db
chunked_uploads
authorized_keys
.env_export.sh
*celerybeat-schedule*

AlertaDengue/static/img/incidence_maps/*
*staticfiles/*

*/incidence_maps/*
/AlertaDengue/*.dbf
/*.dbf
*.egg-info
/dist/
/build/
/tiffs/
.vscode
.pylintrc

# env
.env*

.mypy_cache

maintenance_mode_state.txt

# Rever
rever/

#dump
*.sql.gz
*/dumps/
containers/postgres/dumps/*
staging_data/
