*.log
*.pot
*.pyc
local_settings.py
.idea/*
settings.ini
*.sw[po]
/bin
/include
/lib
/AlertaDengue/geodjango.db
/AlertaDengue/static_files/*
/AlertaDengue/static/geojson/*.json
pip-selfcheck.json
/shapely
/share
.ipynb_checkpoints
geodjango.db
*.dbf
chunked_uploads
authorized_keys
Dockerfile-dev
