[tool.poetry]
name = "alertadengue"
version = "3.8.0"  # changed by semantic-release
description = "AlertaDengue Package"
authors = ["Flavio Codeco Coelho <fccoelho@gmail.com>"]
license = "GNU General Public License v3"
readme = "README.md"
repository = "https://github.com/AlertaDengue/AlertaDengue"
homepage = "https://github.com/AlertaDengue/AlertaDengue"
packages = [
    { include = "ad_main/*.py", from = "AlertaDengue" },

]


[tool.poetry.dependencies]
dask = "^2023.5.0"
dask-geopandas = "^0.3.1"
dbfread = "^2.0.7"
django = ">=3.2.18,<4"
django-bootstrap4 = "^22.1"
django-celery-results = "^2.3.1"
django-chunked-upload = "<2.0.0"
django-cprofile-middleware = "^1.0.5"
django-leaflet = "^0.28.2"
django-maintenance-mode = "^0.16.3"
django-pymemcache = "^1.0.0"
dj-static = "^0.0.6"
celery = "^5.2.6"
fastparquet = "^0.8.1"
Fiona = "^1.8.21"
geojson = "^2.5.0"
geopandas = "^0.10.2"
geopy = "^2.2.0"
gunicorn = "^20.1.0"
ibis-framework = {extras = ["postgres"], version = "^3.2.0"}
loguru = "^0.7.0"
minio = "^7.1.15"
plotly = "^5.11.0"
pyproj = "^3.3.0"
python = ">=3.9,<3.11"
python-dotenv = ">=0.21.1,<0.22.0"
python-memcached = "^1.59"
rasterio = "^1.2.10"
sh = ">=2.0.0"
simpledbf = "^0.2.6"
SQLAlchemy = "<2.0"
tables = "^3.7.0"
watchdog = "^3.0.0"


[tool.poetry.group.dev.dependencies]
black = "^22.12.0"
containers-sugar = "^1.9.0"
compose-go = "^2.20.2"
django-extensions = "^3.2.1"
flake8 = "^6.0.0"
isort = "^5.11.4"
mypy = "^0.991"
make = "^0.1.6.post2"
makim = "^1.8.2"
pre-commit = "^2.21.0"
pytest = "^7.2.1"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.black]
# https://github.com/psf/black
target-version = ["py39"]
line-length = 79
color = true

exclude = '''
/(
    \.git
    | \.hg
    | \.mypy_cache
    | \.tox
    | \.venv
    | _build
    | buck-out
    | build
    | dist
    | env
    | venv
    | migrations/*
)/
'''

[tool.isort]
profile = "black"
src_paths = ["isort", "test"]
