[tool.poetry]
name = "AlertaDengue"
version = "3.2.0"
description = "AlertaDengue package"
authors = ["Flavio Codeco Coelho <fccoelho@gmail.com>"]
license = "GNU General Public License v3"

packages = [
    { include = "ad_main/*.py", from = "AlertaDengue" },

]

[tool.poetry.dependencies]
Django = ">=3.1.8,<4"
Fiona = "^1.8.21"
SQLAlchemy = "^1.4.41"
celery = "^5.2.6"
certifi = "^2022.12.7"
click = "<8.1.5"
dbfread = "^2.0.7"
dj-database-url = "^0.5.0"
dj-static = "^0.0.6"
django-bootstrap4 = "^22.1"
django-celery-results = "^2.3.1"
django-chunked-upload = "<2.0.0"
django-cprofile-middleware = "^1.0.5"
django-leaflet = "^0.28.2"
django-maintenance-mode = "^0.16.3"
django-pymemcache = "^1.0.0"
docker-compose = "^1.29.2"
fastparquet = "^0.8.1"
geojson = "^2.5.0"
geopandas = "^0.10.2"
geopy = "^2.2.0"
gunicorn = "^20.1.0"
ibis-framework = {extras = ["postgres"], version = "^3.2.0"}
pandas = "1.4.0"
pyproj = "^3.3.0"
python = ">=3.9,<3.11"
python-dotenv = "^0.20.0"
python-memcached = "^1.59"
rasterio = "^1.2.10"
sh = "^1.14.2"
simpledbf = "^0.2.6"
tables = "^3.7.0"
plotly = "^5.11.0"

[tool.poetry.dev-dependencies]
django-extensions = "^3.1.5"
pytest = "^7.1.2"
jupyter = "^1.0.0"
ipywidgets = "^8.0.2"
jupyterlab-widgets = "^3.0.3"
nodejs = "^0.1.1"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.black]
# https://github.com/psf/black
target-version = ["py39"]
line-length = 79
color = true

exclude = '''
/(
    \.git
    | \.hg
    | \.mypy_cache
    | \.tox
    | \.venv
    | _build
    | buck-out
    | build
    | dist
    | env
    | venv
    | migrations/*
)/
'''

[tool.isort]
profile = "black"
src_paths = ["isort", "test"]
