celery
dbfread
dj-database-url
dj-static
django-bootstrap4
django-chunked-upload
django-leaflet
django-makemessages-xgettext
django==3.*
fiona
gdal
geojson
geopandas
geopy
gunicorn
numpy
pandas<=1.1.5
plotly
psycopg2
python-dotenv
python-memcached
pytz
rasterio
sh
sqlalchemy<1.4
