django==3.1.6
django-bootstrap4
django-leaflet
geojson
gunicorn
numpy
pandas==1.1.5
python-dotenv
pytz
psycopg2
sqlalchemy
python-memcached
django-makemessages-xgettext
mock
dbfread
dj-database-url
django-chunked-upload
celery  
dj-static
gdal
fiona
rasterio
geopy
geopandas
sh
plotly
ipython
sqlparse
