{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load lookup %}

{% block extra_head %}
<meta property="og:image"
      content="http://info.dengue.mat.br/static/img/screenshot.png"/>
<meta property="og:image:secure_url"
      content="https://info.dengue.mat.br/static/img/screenshot.png"/>

<script src="/static/js/infodengue.js"
        type="text/javascript"></script>

<style type="text/css"></style>
<script></script>

{% endblock %}
{% block title %}{% trans "Serviços de Dados Públicos" %}{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-12 column">
            <ul>
                <li><h3><a href="./maps">Serviço de Mapas</a></h3></li>
                <li><h3><a href="./api">API</a></h3></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
