{% load i18n %}
{% autoescape off %}

{% translate "Voce está recebendo esse e-mail por que pediu que sua senha no InfoDengue fosse redefinida." %}

{% translate "Por favor, visite a página a seguir e escolha uma nova senha:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
{% translate "Seu nome de usuário, caso você tenha esquecido, é:" %} {{ user.get_username }}

{% translate "Obrigado por usar o InfoDengue" %}

{% endautoescape %}
