<!DOCTYPE HTML>
{% load static %}
{% load i18n %}
{% load bootstrap4 %}

<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="{% static '/img/favicon.ico' %}" type="image/x-icon">

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-SMYKFD7BD2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-SMYKFD7BD2');
    </script>

    <!-- Custom Stylesheets -->
    <link href="{% static '/css/infodengue.css' %}" rel="stylesheet">
    <link href="{% static '/css/footer.css' %}" rel="stylesheet">

    <!-- Additional Scripts -->
    <script src="{% static '/libs/jquery/jquery-3.3.1.js' %}"></script>
    <script src="{% static '/js/typeahead.bundle.min.js' %}"></script>

    <!-- Bootstrap CSS and JS -->
    {% bootstrap_css %}
    {% bootstrap_javascript %}

    <!-- FontsAwesome icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    {% block extra_head %}{% endblock %}
</head>
<body >  
  {# ===================== VIERIFY THE USAGE OF MESSAGES ===================== #}
  {% include 'components/messages.html' %}

<div class="container-fluid d-flex flex-column min-vh-100">
  {# ===================== HEADER ===================== #}    
  <section class="mb-0">
  <div class="container">
        {% include 'components/header.html' %}
  </div>
  </section>

    <main role="main" class="flex-fill">
        <div class="container pt-0 pb-0">
          {# ===================== NAVBAR ===================== #}
          <section class="mt-3 mb-0 p-0">
            {% include 'components/navbar.html' %}
          </section>

            <h3 class="mb-3">
                {% block title %}{% endblock %}
            </h3>
            {% block breadcrumbs %}{% endblock %}
              {% if settings.MAINTENANCE_MODE and not user.is_authenticated %}
                <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; height: 50vh;">
                  <img src="{% static 'img/maintenance.png' %}" alt="Maintenance" style="width: 200px;">
                  <h3>{% trans "Manutenção" %}</h3>
                  <p>{% trans "O site encontra-se em manutenção, por favor volte mais tarde" %}</p>
                </div>
              {% else %}
                {% block content %}{% endblock %}
              {% endif %}
            </div>
        </main>
        <footer class="footer py-4">
            <div class="container">
                {% include 'components/footer.html' %}
            </div>
        </footer>
    </div>
</body>
</html>
