{% extends 'bootstrap.html' %}
{% load static %}
{% load bootstrap4 %}
{% load i18n %}

{% block header_extra_base%}
<style type="text/css">
    .tt-hint {
        font-size: 18px;
        line-height: 1.33;
    }
    #remote .tt-dropdown-menu {
          max-height: 150px;
          overflow-y: auto;
    }

    .twitter-typeahead .tt-query, .twitter-typeahead .tt-hint {
        height: 45px;
        padding: 10px 16px;
    }

</style>
{% endblock %}

{% block bootstrap4_content %}
<!-- Wrap all page content here -->
<div id="wrap">
    <div class="view">
        <!-- Fixed navbar -->
        <div class="container container-fluid">
            <div class="row clearfix">
                <div class="col-md-12 column">
                <!-- logo bar -->
                    <div class="float-left"><a href="/">
                        <img class="media-object"
                             src="/static/img/info-dengue-logo-multicidades.png"
                             alt="INFO-DENGUE">
                    </a></div>
                    <div class="float-right"><a
                       href="http://www.procc.fiocruz.br">
                        <img class="media-object"
                             src="/static/img/fiocruz.gif" height="83px"
                             alt="FIOCRUZ">
                    </a></div>
                    <div class="float-right"><a href="http://emap.fgv.br">
                        <img class="media-object" src="/static/img/emap.jpg"
                             height="83px" alt="EMAP">
                    </a></div>
                </div>
            </div>
            <div class="row clearfix mb-3">
                <div class="col-md-12">
                    <nav class="navbar navbar-light navbar-custom navbar-expand-md rounded py-1">
                        <div class="container">
                            <button type="button" class="navbar-toggler"
                                    data-toggle="collapse"
                                    data-target=".navbar-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                            </button>
                            <div class="collapse navbar-collapse">
                                <ul class="nav navbar-nav">
                                    <li class="py-2"><a href="{% url 'dados:main' %}">
                                        {% trans "Início" %}</a></li>
                                    <li class="py-2"><a href="{% url 'dados:about' %}">
                                        {% trans "Saiba Mais" %}</a></li>
                                    <li class="py-2"><a href="{% url 'dados:team' %}">
                                        {% trans "Equipe" %}</a></li>
                                    <li class="py-2"><a href="{% url 'dados:joinin' %}">
                                        {% trans "Participe" %}</a></li>
                                    <li class="py-2"><a href="{% url 'dados:data_public_services' %}">
                                        {% trans "Dados" %}</a></li>
                                    <li class="py-2"><a href="{% url 'dados:report' %}">
                                        {% trans "Relatórios" %}</a></li>
                                    <li style="overflow: visible">
                                        <div id="remote" class="twitter-typeahead"
                                             style="overflow-y: auto; max-height: 150px; overflow: visible">
                                            <input type="text"
                                                   class="form-control input-lg typeahead twitter-typeahead tt-dropdown-menu"
                                                   placeholder="{% blocktrans %}Encontre um município{% endblocktrans %} ..."
                                                   name="q"
                                                   style="position: relative" />
                                        </div>
                                    </li>
                                    {% if user.is_authenticated %}
                                        <li class="py-2"><a href="{% url 'dbf:upload' %}">
                                            {% trans "Envie dados atualizados" %}
                                        </a></li>
                                        <li class="dropdown py-2">
                                            <a href="#" class="dropdown-toggle"
                                               data-toggle="dropdown">
                                                {% trans "Account " %}
                                                <b class="caret"></b>
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li><a href="{% url 'logout' %}">
                                                    {% trans "Logout" %}
                                                </a></li>
                                                <li><a href="{% url 'password_change' %}">
                                                    {% trans "Change password" %}
                                                </a></li>
                                            </ul>
                                        </li>
                                    {% else %}
                                        <li class="py-2"><a href="{% url 'login' %}">
                                            {% trans "Login" %}
                                        </a></li>
                                    {% endif %}
                                </ul>
                            </div>
                            <!--/.nav-collapse -->
                            <script type="application/javascript">
                            // $('ul.nav.nav-pills li a').click(function () {
                            //   $(this).parent().addClass('active').siblings().removeClass('active');
                            // });
                            </script>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <script type="application/javascript">
            var citiesDisplay = new Bloodhound({
                    datumTokenizer: Bloodhound.tokenizers.whitespace,
                    queryTokenizer: Bloodhound.tokenizers.whitespace,
                    remote: {
                        url: "{% url 'dados:get_city' %}",
                        replace: function(url, query) {
                            return url + "?q=" + query;
                        }
                    }
                });
            citiesDisplay.initialize();
            $('#remote .twitter-typeahead').typeahead({
                hint: true,
                minLength: 1,
                highlight: true},
                {name: 'cities-display',
                display: function(sugg){
                    return sugg.nome+' - '+sugg.uf
                },
                source: citiesDisplay,
            });
            $('#remote').bind('typeahead:select', function(ev, suggestion){
                //alert(suggestion.geocodigo);
                window.location.href = '/alerta/'+suggestion.geocodigo.toString()
            });

    </script>
    <!-- Begin page content -->

    <div class="container">
        {% block breadcrumbs %}{% endblock %}
        <div class="page-header my-4">
            <h3>{% block title %}(no title){% endblock %}</h3>
        </div>
        {% bootstrap_messages %}
        {% block content %}
        <p class="lead">{% blocktrans %}Pin a fixed-height footer to the bottom
            of the viewport in desktop browsers with this
            custom HTML and CSS. A fixed navbar has been added within <code>#wrap</code>
            with <code>padding-top:
                60px;</code> on the <code>.container</code>.{% endblocktrans %}
        </p>
        {% endblock %}
    </div>
</div>

{% endblock %}
