<!DOCTYPE HTML>
{% load static %}
{% load i18n %}
{% load bootstrap4 %}

<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="{% static '/img/favicon.ico' %}" type="image/x-icon">

    <!-- Custom Stylesheets -->
    <link href="{% static '/css/infodengue.css' %}" rel="stylesheet">
    <link href="{% static '/css/footer.css' %}" rel="stylesheet">

    <!-- Additional Scripts -->
    <script src="{% static '/libs/jquery/jquery-3.3.1.js' %}"></script>
    <script src="{% static '/js/typeahead.bundle.min.js' %}"></script>

    <!-- Bootstrap CSS and JS -->
    {% bootstrap_css %}
    {% bootstrap_javascript %}

    {% block extra_head %}{% endblock %}
</head>
<body>
    {% include 'components/messages.html' %}
    <div class="container-fluid d-flex flex-column min-vh-100">
        <div class="container">
            {% include 'components/header.html' %}
            {% include 'components/navbar.html' %}
        </div>
        <main role="main" class="flex-fill">
            <div class="container py-4">
                <h3>{% block title %}{% endblock %}</h3>
                {% block breadcrumbs %}{% endblock %}
                {% block content %}
                <!-- Main content goes here -->
                {% endblock %}
            </div>
        </main>
        <footer class="footer py-4">
            <div class="container">
                {% include 'components/footer.html' %}
            </div>
        </footer>
    </div>
</body>
</html>
