{% load static %}

<style>
.carousel-indicators li {
  margin-top:100px;
  margin-bottom:-50px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 1px 2px;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  border: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  opacity: .5;
  transition: opacity .6s ease;
  filter: invert(1);
}
</style>

{% block carousel_component %}
<div id="carouselTop" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselTop" data-slide-to="0" class="active"></li>
    <li data-target="#carouselTop" data-slide-to="1"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
    <a href="report/" title="Clique para abrir os relatórios estaduais">
      <img class="d-block w-100"
        src={% static 'img/incidence_maps/country/incidence_Nacional_dengue.png' %}
      />
    </a>
    </div>
    <div class="carousel-item"> <!-- style="width:100%" -->
    <a href="report/" title="Clique para abrir os relatórios estaduais">
      <img class="d-block w-100"
        src={% static '/img/incidence_maps/country/incidence_Nacional_chikungunya.png' %}
      />
    </a>
    </div>
  </div>
</div>
{% endblock %}
