{% load lookup %}
{% load hashthis %}
{% load i18n %}

{% block extra_head %}
  <meta charset="UTF-8">
  <style>
    .nav-tabs .nav-item .nav-link {
      background-color: white;
      color: #0080FF;
    }

    .nav-tabs .nav-item .nav-link.active {
      background-color: #e0eefd63;
      color: #495057;
    }
    .nav-tabs .nav-item .nav-link.disabled {
        color: #DBDBDB;
        pointer-events: none;
        cursor: copy;
    }
    .tab-content {
      border: 1px solid #e0eefd63;
      border-top: transparent;
      padding: 10px;
    }

    .tab-content .tab-pane {
      background-color: #e0eefd63;
      color: #0080FF;
      min-height: 200px;
      height: auto;
    }
  </style>
{% endblock %}


<div class="row justify-content-md-center">

  <!-- Grid column -->
  <div class="col-sm-12 mb-1 mb-xl-0">

    <!-- Section: Live preview -->
    <section>

      <ul class="nav nav-tabs"
          id="diseaseTab"
          role="tablist">
        <li class="nav-item waves-effect waves-light">
          <a class="nav-link  active{% if empty_charts_count|lookup:'dengue' == 3 %} disabled{% endif %}"
            id="dengue-{{ state_name | hashthis }}-tab"
            data-toggle="tab"
            href="#dengue-{{ state_name | hashthis }}"
            role="tab"
            aria-controls="dengue-{{ state_name | hashthis }}"
            aria-selected="true"
            title="Gráficos sobre Dengue"
            >Dengue
          </a>
        </li>
        <li class="nav-item waves-effect waves-light">
          <a class="nav-link{% if empty_charts_count|lookup:'chikungunya' == 3 %} disabled{% endif %}"
            id="chikungunya-{{ state_name | hashthis }}-tab"
            data-toggle="tab"
            href="#chikungunya-{{ state_name | hashthis }}"
            role="tab"
            aria-controls="chikungunya-{{ state_name | hashthis }}"
            aria-selected="false"
            title="Gráficos sobre Chikungunya"
            >Chikungunya
          </a>
        </li>
        <li class="nav-item waves-effect waves-light">
          <a class="nav-link{% if empty_charts_count|lookup:'zika' == 3 %} disabled{% endif %}"
            id="zika-{{ state_name | hashthis }}-tab"
            data-toggle="tab"
            href="#zika-{{ state_name | hashthis }}" role="tab"
            aria-controls="zika-{{ state_name | hashthis }}"
            aria-selected="false"
            title="Gráficos sobre Zika"
            >Zika
          </a>
        </li>
        <li class="nav-item waves-effect waves-light">
          <a class="nav-link"
            id="modo-{{ state_name | hashthis }}-tab"
            data-toggle="tab"
            href="#incidence_map-{{ state_name | hashthis }}" role="tab"
            aria-controls="incidence_map-{{ state_name | hashthis }}"
            aria-selected="false"
            title="Veja o mapa de incidência das doenças no estado"
            >Mapa incidência
          </a>
        </li>
      </ul>

      <div class="tab-content"
        id="diseaseTabContent"
        style="background-color: #e0eefd63; 
          margin-bottom: 20px; 
          border-radius: 7px"
      >
        <!-- Description -->
        <h6><small class="px-3" style="color:#888888;">
          {{ count_cities|lookup:'dengue'|lookup:state_name | safe }}
          {% trans "Municípios monitorados" %}. {% trans "Última atualização" %}: 
          {{ last_se|lookup:state_name | safe }}
        </small></h6>
        <div class="tab-pane fade active show"
            id="dengue-{{ state_name | hashthis }}"
            role="tabpanel"
            aria-labelledby="dengue-{{ state_name | hashthis }}-tab">
          <div class="row">
            <div class="col-md-4 w-100">
              {{ chart_scatter|lookup:'dengue'|lookup:state_name | safe }}
            </div>
            <div class="col-md-4 w-100">
              {{ chart_indicator|lookup:'dengue'|lookup:state_name | safe }}
            </div>
            <div class="col-md-4 w-100">
              {{ chart_stack|lookup:'dengue'|lookup:state_name | safe }}
            </div>
          </div>
        </div>
        <div class="tab-pane fade"
            id="chikungunya-{{ state_name | hashthis }}"
            role="tabpanel"
            aria-labelledby="chikungunya-{{ state_name | hashthis }}-tab">
          <div class="row">
            <div class="col-md-4 w-100">
              {{ chart_scatter|lookup:'chikungunya'|lookup:state_name | safe }}
            </div>
            <div class="col-md-4 w-100">
              {{ chart_indicator|lookup:'chikungunya'|lookup:state_name | safe }}
            </div>
            <div class="col-md-4 w-100">
              {{ chart_stack|lookup:'chikungunya'|lookup:state_name | safe }}
            </div>
          </div>
        </div> 
        <div class="tab-pane fade"
            id="zika-{{ state_name | hashthis }}"
            role="tabpanel"
            aria-labelledby="zika-{{ state_name | hashthis }}-tab">
          <div class="row">
            <div class="col-md-4 w-100">
              {{ chart_scatter|lookup:'zika'|lookup:state_name | safe }}
            </div>
            <div class="col-md-4 w-100">
              {{ chart_indicator|lookup:'zika'|lookup:state_name | safe }}
            </div>
            <div class="col-md-4 w-100">
              {{ chart_stack|lookup:'zika'|lookup:state_name | safe }}
            </div>
          </div>
        </div>
        <div class="tab-pane fade"
            id="incidence_map-{{ state_name | hashthis }}"
            role="tabpanel"
            aria-labelledby="incidence_map-{{ state_name | hashthis }}-tab">
          <div class="row">
            <div class="col-md-4 w-100">
              {{ create_maps|lookup:'dengue'|lookup:state_name | safe }}
            </div>
            <div class="col-md-4 w-100">
              {{ create_maps|lookup:'chikungunya'|lookup:state_name | safe }}
            </div>
            <div class="col-md-4 w-100">
              {{ create_maps|lookup:'zika'|lookup:state_name | safe }}
            </div>
          </div>
        </div>
        <div class="align-buttom mt-2">
          <a href="/alerta/{{state_initials|lookup:state_name}}"
            class="btn btn-outline-primary btn-sm" style="font-size: medium;">
                <span class="badge">Informações detalhadas sobre o Estado</span>
          </a>
        </div>
      </div>

    </section>
    <!-- Section: Live preview -->
  </div>
  <!-- Grid column -->
</div>
