{% load lookup %}

<!-- Start Component -->
{% block collapse_component %}

<div class="row">
  <div class="col-sm-12 mb-4 mb-xl-0">
    <div id="accordion">
      {% for key,value in states_name.items %}
      <div class="card">
        <div id="flip_{{ key }}"
          class="collapse-style">
            <button
              class="collapse-effect text-left"
              data-toggle="collapse"
              data-target="#panel_{{ key }}"
              aria-expanded="true"
              data-toggle="tooltip"
              data-placement="bottom"
              title="Clique para visualizar os dados sobre as doenças no estado de {{ key }}"
              aria-controls="panel_{{ key }}">
              <span>{{ value }}</span>
          </button>
        </div>
        <div id="panel_{{ key }}"
          {% if key == 'CE' %}
            class="collapse show"
            {% else %}
            class="collapse"
            {% endif %}
            aria-labelledby="flip_{{ key }}"
            data-parent="#accordion">
          <div class="card-body">
            <div class="spinner-border text-muted">
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

<script> //Chart columns are provided by template charts.html

  $(document).ready(function(){
    var all_states = {{ states_name|safe }};
    var requestCache = {};

      function LoadDataFromApi(apiUrl) {
        if (!requestCache[apiUrl]) {
          requestCache[apiUrl] = $.ajax({
              type: 'GET',
              url: apiUrl,
              dataType: "html"
          });
        }
        return requestCache[apiUrl];
      }
      $.each( all_states, function( state_abbv, state_name ) {
        LoadDataFromApi("/chartshome/"+state_abbv)
        .then(function(data) {
          $("#panel_"+state_abbv).html(data);
          // console.log(data);
          // console.log("State: " + state_abbv);
        });
    });
  });

</script>

{% endblock %}
<!-- End component -->
