{% load lookup %}
{% load cache %}
{% load i18n %}
{% load static %}

{% cache 500 object_list %}

<!-- Start Component -->
{% block collapse_component %}
<div class="d-flex justify-content-between align-items-center mb-3">
  <h3 class="h3 mb-0">
    {% trans "Situação Epidemiológica" %}
  </h3>
</div>

<div class="row mb-4 p-3"
      style="background-color:#e0eefd63;border-radius:7px;
            box-shadow:2px 2px 7px #0c1b2b69;">
  <div class="col-md-12 p-1">
    <div class="card-primary">
        <div class="row">
          <div class="col-sm-12 mb-4 mb-xl-0">
            <div id="accordion">
              {% for key,value in states_name.items %}
              <div class="card">
                <div id="flip_{{ key }}"
                  class="collapse-style">
                    <button
                      class="collapse-effect text-left"
                      data-toggle="collapse"
                      data-target="#panel_{{ key }}"
                      aria-expanded="true"
                      data-toggle="tooltip"
                      data-placement="bottom"
                      title="Clique para visualizar os dados sobre as doenças no estado de {{ key }}"
                      aria-controls="panel_{{ key }}">
                      <span>{{ value }}</span>
                  </button>
                </div>
                <div id="panel_{{ key }}"
                  {% if key == 'CE' %}
                    class="collapse show"
                    {% else %}
                    class="collapse"
                    {% endif %}
                    aria-labelledby="flip_{{ key }}"
                    data-parent="#accordion">
                  <div class="card-body">
                    <div class="spinner-border text-muted">
                    </div>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
{% endcache %}

<script type="text/javascript"> //Chart columns are provided by template charts.html

  $(document).ready(function(){
    var allStates = {{ states_abbv|safe }};
    var requestCache = {};

      function LoadDataFromApi(apiUrl) {
        if (!requestCache[apiUrl]) {
          requestCache[apiUrl] = $.ajax({
              type: 'GET',
              url: apiUrl,
              dataType: "html"

          });
        }
        return requestCache[apiUrl];
      }
      $.each( allStates, function( i, state_abbv ) {
        LoadDataFromApi("/chartshome/" + state_abbv)
        .then(function(data) {
          $("#panel_" + state_abbv).html(data);
          // console.log(data);
          // console.log("State: " + state_abbv);
        });
    });
  });

</script>



<!-- End component -->
