version: "3"
services:
    memcache:
        image: memcached:latest
        hostname: memcached
        ports:
            - 11212:11211
        restart: always

    web:
        build:
            context: ".."
            dockerfile: "docker/Dockerfile"
            args:
                PYTHON_VERSION: ${PYTHON_VERSION:-3.7}
        ports:
            - 8000:8000
        env_file:
            - ../.env
        environment:
            - MEMCACHED_HOST=memcache
            - CELERY_BROKER_URL=amqp://guest:guest@rabbitmq:5672
        volumes:
            - ${DOCKER_HOST_MEDIA_ROOT}:/MEDIA_ROOT
            - ${DOCKER_HOST_MAPFILES_DIR}:/srv/deploy/maps
            - ${DOCKER_HOST_SHAPEFILES_DIR}:/srv/deploy/AlertaDengue/static/shapefile
            - ${DOCKER_HOST_TIFFS_DIR}:/srv/deploy/tiffs
            - ${DOCKER_HOST_LOG_DIR}:/var/log/mapserver
        restart: always

    rabbitmq:
        image: rabbitmq:3
        hostname: rabbitmq
        restart: always

    celery-worker:
        build:
            context: ".."
            dockerfile: "docker/Dockerfile-celery"
            args:
              PYTHON_VERSION: ${PYTHON_VERSION:-3.7}
              HOST_UID: ${HOST_UID}
              HOST_GID: ${HOST_GID}
        env_file:
            - ../.env
        environment:
            - CELERY_BROKER_URL=amqp://guest:guest@rabbitmq:5672
        volumes:
            - ${DOCKER_HOST_MEDIA_ROOT}:/MEDIA_ROOT
            - ${DOCKER_HOST_IMPORTED_FILES_DIR}:/IMPORTED_FILES
        depends_on:
            - rabbitmq
            - memcache
        restart: always

    flower:
        build:
            context: ".."
            dockerfile: "docker/Dockerfile-flower"
        environment:
            - CELERY_BROKER_URL=amqp://guest:guest@staging_rabbitmq:5672
        ports:
            - 5555:5555
        expose:
            - 5555
        depends_on:
            - celery-worker

    mapserver:
        build:
            context: ".."
            dockerfile: "docker/Dockerfile-mapserver"
        ports:
            - 7000:80
        env_file:
            - ../.env
        volumes:
            - ${DOCKER_HOST_MAPFILES_DIR}:/maps:ro
            - ${DOCKER_HOST_SHAPEFILES_DIR}:/shapefile:ro
            - ${DOCKER_HOST_TIFFS_DIR}:/tiffs:ro
            - ${DOCKER_HOST_LOG_DIR}:/maplog:ro
        restart: always
