version: "3"
services:
    staging_memcache:
      image: memcached:latest
      hostname: staging_memcache
      ports: []
      restart: always

    staging_rabbitmq:
      image: rabbitmq:3
      hostname: staging_rabbitmq
      restart: always

    staging_db:
      build:
        context: ".."
        dockerfile: "docker/Dockerfile-postgres"
      env_file:
        - ../.env_staging
      hostname: staging_db
      ports:
        - "25432:25432"
      volumes:
        - ${STAGING_DATA_DIR}:/var/lib/postgresql/data
      restart: always
      command: -p 25432

    staging_web:
      build:
        context: ".."
        dockerfile: "docker/Dockerfile"
        args:
          PYTHON_VERSION: ${PYTHON_VERSION:-3.7}
      env_file:
        - ../.env_staging
      ports:
        - 8080:8000
      environment:
        - MEMCACHED_HOST=staging_memcache
        - CELERY_BROKER_URL=amqp://guest:guest@staging_rabbitmq:5672
        - DATABASE_URL=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@staging_db:25432/infodengue
        - PSQL_HOST=staging_db
        - PSQL_PORT=25432
      volumes:
        - ${DOCKER_HOST_MEDIA_ROOT}:/MEDIA_ROOT
        - ${DOCKER_HOST_MAPFILES_DIR}:/srv/deploy/maps
        - ${DOCKER_HOST_SHAPEFILES_DIR}:/srv/deploy/AlertaDengue/static/shapefile
        - ${DOCKER_HOST_TIFFS_DIR}:/srv/deploy/tiffs
        - ${DOCKER_HOST_LOG_DIR}:/var/log/mapserver
      depends_on:
        - staging_db
        - staging_rabbitmq
        - staging_memcache
      restart: always

    staging_celery-worker:
      build:
        context: ".."
        dockerfile: "docker/Dockerfile-celery"
      env_file:
        - ../.env_staging
      environment:
        - CELERY_BROKER_URL=amqp://guest:guest@staging_rabbitmq:5672
        - DATABASE_URL=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@staging_db:5432/infodengue
        - PSQL_HOST=staging_db
      volumes:
        - ${DOCKER_HOST_MEDIA_ROOT}:/MEDIA_ROOT
        - ${DOCKER_HOST_IMPORTED_FILES_DIR}:/IMPORTED_FILES
      depends_on:
        - staging_db
        - staging_rabbitmq
        - staging_memcache
      restart: always

    staging_flower:
      build:
        context: ".."
        dockerfile: "docker/Dockerfile-flower"
      environment:
        - CELERY_BROKER_URL=amqp://guest:guest@staging_rabbitmq:5672
      ports:
        - 5555:5555
      expose:
        - 5555
      depends_on:
          - staging_celery-worker

    staging_mapserver:
        build:
            context: ".."
            dockerfile: "docker/Dockerfile-mapserver"
        ports:
            - 7777:80
        env_file:
            - ../.env_staging
        volumes:
            - ${DOCKER_HOST_MAPFILES_DIR}:/maps:ro
            - ${DOCKER_HOST_SHAPEFILES_DIR}:/shapefile:ro
            - ${DOCKER_HOST_TIFFS_DIR}:/tiffs:ro
            - ${DOCKER_HOST_LOG_DIR}:/maplog:ro
        restart: always
