{% load i18n %}
{% load static %}

<div class="row iframe-infodengue text-white" style="border-radius: 5px">
    <div class="col-md-2">
        <img src="{% static '/img/logo-infodengue.png' %}" alt="{% trans 'Infodengue Logo' %}" class="img-fluid logo">
    </div>
    <div class="col-md-8 text-md">
        <p class="mb-0">{% trans "A organização Alertadengue reúne Epidemiologistas, Cientistas de dados, e estudantes, que atuam em parceria com os órgão governamentais de Saúde para ajudar a gestão de doenças transmitidas por mosquitos como a dengue, zika e Chikungunya." %}</p>
    </div>
    <div class="col-md-2 d-flex justify-content-end align-items-start">
        <a href="https://github.com/sponsors/AlertaDengue?o=esc" target="_blank" class="btn btn-primary mt-3">
            {% include 'components/github_icon.html' %} {% trans 'Sponsor' %}
        </a>
    </div>
</div>
