{% load static %}
{% load i18n %}
{% load bootstrap4 %}
<div class="row clearfix">
    <div class="col-md-12 column">
    <!-- logo bar -->
        <div class="float-left">
            <a href="/">
                <img class="media-object" src="{% static '/img/info-dengue-logo-multicidades.png' %}" alt="INFO-DENGUE">
            </a>
        </div>
        <div class="float-right">
            <a href="http://www.procc.fiocruz.br">
                <img class="media-object" src="{% static '/img/fiocruz.gif' %}" height="83px" alt="FIOCRUZ">
            </a>
        </div>
        <div class="float-right">
            <a href="http://emap.fgv.br">
                <img class="media-object" src="{% static '/img/emap.jpg' %}" height="83px" alt="EMAP">
            </a>
        </div>
    </div>
</div>
