{% load static %}
{% load i18n %}

<div class="site-header-inner">
  <div class="site-brand">
    <a
        href="/"
        class="site-brand__link"
        aria-label="{% trans 'Página inicial do Infodengue' %}">
      <img
          class="site-logo"
          src="{% static '/img/info-dengue-logo.png' %}"
          alt="INFO-DENGUE">
    </a>
  </div>

  <button
      class="navbar-toggler site-navbar-toggler site-header-toggle d-md-none"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="{% trans 'Alternar navegação' %}">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="partner-logos" aria-label="{% trans 'Instituições parceiras' %}">
    <a
        href="https://emap.fgv.br/"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="EMAp FGV">
      <img
          class="partner-logo partner-logo--emap"
          src="{% static '/img/emap.png' %}"
          alt="EMAP">
    </a>
    <a
        href="https://www.procc.fiocruz.br/"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="Fiocruz PROCC">
      <img
          class="partner-logo partner-logo--fiocruz"
          src="{% static '/img/fiocruz.png' %}"
          alt="FIOCRUZ">
    </a>
  </div>
</div>
