<!DOCTYPE HTML>
{% load i18n %}
{% load static %}
{% load overview %}

<html lang="pt-BR">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="{% static '/img/favicon.ico' %}" type="image/x-icon">

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-SMYKFD7BD2"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-SMYKFD7BD2');
    </script>

    <!-- Custom Stylesheets -->
    <link href="{% static '/css/footer.css' %}" rel="stylesheet">

    <!-- Additional Scripts -->
    <script src="{% static '/libs/jquery/jquery-3.3.1.js' %}"></script>
    <script src='{% static "/libs/jquery/jquery-ui.min.js" %}'></script>
    <script src="{% static '/js/typeahead.bundle.min.js' %}"></script>

    <!-- FontsAwesome icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/admin-lte@3.2/dist/css/adminlte.min.css">
  </head>

  <body>
    {% include 'components/messages.html' %}
    <main role="main" class="flex-fill">
        <div class="wrapper">
          <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
              </li>
              <li class="nav-item d-none d-sm-inline-block">
                <a href='{% url "dados:main" %}' class="nav-link">Home</a>
              </li>
              <li class="nav-item d-none d-sm-inline-block">
                <a href='/upload/sinan' class="nav-link">Upload</a>
              </li>
            </ul>
          </nav>

          {% include 'sinan/sidebar-overview.html' %}

          <div class="content-wrapper">
            <div class="content-header">
            </div>
            <div class="content">
              <div class="panel panel-default col-xs-6">
                <div class="panel-body">

                  <div class="card card-outline card-success">
                    <div class="card-header">
                      <h3 class="card-title">{{filename}}</h3>
                      <div class="card-tools">
                        <span id="log-toggle" class="badge badge-primary" data-bs-toggle="modal" data-bs-target="#log-modal">
                          <i class="fa-regular fa-file-lines" style="font-size: 1rem;"></i>
                        </span>
                      </div>
                    </div>
                    <div class="card-body">
                      <p>{% trans "File size" %}: {{size}}</p>
                      <p>{% trans "Inserts" %}: {{inserts}}</p>
                      <p>{% trans "Updates" %}: {{updates}}</p>
                    </div>
                    <div class="card-footer">{% trans "uploaded at" %} {{uploaded_at}}</div>
                  </div>

                  <div class="card">
                    <div class="card-header">
                      <h3 class="card-title">Pie Chart Example</h3>
                      <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                          <i class="fas fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-tool" data-card-widget="remove">
                          <i class="fas fa-times"></i>
                        </button>
                      </div>
                    </div>
                    <div class="card-body">
                      <canvas id="sexChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="modal fade" id="log-modal" tabindex="-1" aria-labelledby="log-modal-label" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="log-modal-label">Logs</h5>
                <button id="log-close" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                {% for log in logs %}
                  <p class="{{ log|log_type }}">{{ log }}</p>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </main>

    <script>
    const csrf = "{{ csrf_token }}";

    document.addEventListener('DOMContentLoaded', function () {
      var sexChart = document.getElementById('sexChart').getContext('2d');
      new Chart(sexChart, {
        type: 'pie',
        data: {
          labels: ['Red', 'Blue', 'Yellow'],
          datasets: [{
            data: [10, 20, 30],
            backgroundColor: ['#f56954', '#00a65a', '#f39c12']
          }]
        },
        options: {
          responsive: true,
          maintainAspectRatio: false
        }
      });
    });
    </script>

    <style>
    .alert-container {
      bottom: 10px;
    }

    #log-toggle {
      cursor: pointer;
    }

    .modal-body {
      background-color: #e2e2e2;
    }

    .log-success {
      color: #0d7208;
    }

    .log-warning {
      color: #b7610b;
    }

    .log-info {
      color: #0d76aa;
    }
    </style>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/admin-lte@3.2/dist/js/adminlte.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  </body>
</html>
