{% load i18n %}
{% load static %}

<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <a href='{% url "dados:main" %}' class="brand-link">
    <link rel="icon" href="{% static '/img/favicon.ico' %}" type="image/x-icon">
    <img src="{% static '/img/logo-infodengue.png' %}" alt="Infodengue" class="brand-image"
      style="opacity: .8">
    <span class="brand-text font-weight-light">InfoDengue</span>
  </a>

  <div class="sidebar">
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="info">
        <a href="" class="d-block" onclick="event.preventDefault();">{{ user.username }}</a>
      </div>
    </div>

    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu">
        <li class="nav-item menu-open">
          <a href="/upload/sinan" class="nav-link active">
            <i class="nav-icon fas fa-upload"></i>
            <p>
              SINAN
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/upload/sinan" class="nav-link active">
                <i class="fas fa-circle nav-icon" style="font-size:0.85rem;"></i>
                <p>Upload</p>
              </a>
            </li>
            <li class="nav-item disabled">
              <a href="#" class="nav-link" onclick="return false;" style="pointer-events: none; opacity: 0.5;">
                <i class="fas fa-circle nav-icon" style="font-size:0.85rem;"></i>
                <p>Overview</p>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</aside>
