{% extends 'base.html' %}
{% load i18n %}
{% load bootstrap3 %}

{% block title %}Envio de dados atualizados do SINAN{% endblock %}

{% block content %}
    <div class="panel panel-default">
        <div class="panel-body">
            <p>Envie aqui os dados atualizados do SINAN</p>
            <form method="POST" enctype="multipart/form-data" action="{% url "dbf:upload" %}" class="form">
                {% csrf_token %}
                {% bootstrap_form form %}
                {% buttons %}
                    <button type="submit" class="btn btn-primary">
                        {% trans "Enviar" %}
                    </button>
                {% endbuttons %}
            </form>
        </div>
    </div>
{% endblock %}
