{% block vis_altair_chart %}
<div class="container-fluid">
    <div class="row mb-3"> <!-- Added margin-bottom for spacing -->
        <div class="col-12">
            <ul>
                {% for key, value in CID10.items %}
                    <li>{{ value }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 col-md-12"> <!-- Responsive for small and medium screens -->
            {{ epiyears_notific_chart | safe }}
        </div>
    </div>
    
    
</div>
{% endblock %}
