{% extends 'base.html' %}

{% block title %}Sobre o Projeto Info Dengue{% endblock %}

{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Objetivo do Sistema Info Dengue</h3>
        </div
        <div class="panel-body">
            O <b>Sistema Info Dengue</b> visa gerar um sistema de alerta em tempo quase-real para os casos de transmissão de dengue nos 
            municípios. A ideia principal é o acesso rápido a informação! <br><br>
            
            As Secretarias de Vigilância em Saúde, através da utilização das informações geradas semanalmente pelo sistema, poderiam 
            tornar mais ágeis e eficazes suas tomadas de decisão quanto aos seus programas de vigilância em dengue. O sistema de
             alerta procura remover a distância que existe entre a análise das informações sempre aplicadas ao passado, e a 
             necessidade de gerar informações em tempo quase-real para tomada de decisão. <br><br>  
            
             Para que o sistema funcione, diversas metodologias de análise são utilizadas de forma integrada, incluindo modelagem de 
             sobrevida, modelagem bayesiana, e um pipeline de coleta e processamento rápido de dados. Essa automatização integrada com 
             modelagem estatística possibilita a rápida visualização da distribuição dos casos de transmissão de dengue em um 
             município ao longo do tempo e do espaço. Os dados que alimentam o sistema são provenientes de diferentes fontes, 
             incluindo clima, redes sociais e dados oficiais de notificação.<br><br>
             
             Além disso, o site disponibiliza informações sobre o histórico da dengue no município em diferentes formatos que podem 
             ser acessados por todos, cidadãos, estudantes, professores, pesquisadores, enfim, qualquer pessoa interessada em 
             entender como anda a situação da transmissão de dengue em seu município.<br><br>
            
             O controle da incidência e preparação para o enfrentamento de epidemias de dengue dependem de um monitoramento eficaz
             de sinais que pressagiem o aumento de casos e potenciais epidemias. Desta forma, é de grande importância a análise de
             toda a informação sobre dengue gerada durante o processo de sua notificação, servindo assim como base para as decisões
             da política de saúde dos municípios. <br><br>
            
                       
                   
             </div>
    </div>
{% endblock %}
