{% extends 'base.html' %}
{% load i18n static alert_state %}

{% block title %}{{ state }}{% endblock %}

{% block content %}
<div class="container-fluid">
    <!-- Map chart -->

    <!-- Map Container -->
    <div class="row mt-3">
        <div class="col-12">
            <div id="map_view"></div>
        </div>
    </div>

<!-- Loading Vega Libraries -->
<script src="https://cdn.jsdelivr.net/npm/vega@5"></script>
<script src="https://cdn.jsdelivr.net/npm/vega-lite@4"></script>
<script src="https://cdn.jsdelivr.net/npm/vega-embed@6"></script>

<script type="text/javascript">
    // Rendering the Altair Chart


    // Rendering the Altair Map
    const mapSpec = {{ map|safe }};
    vegaEmbed('#map_view', mapSpec);
</script>

{% endblock %}
