{% extends 'bootstrap.html' %}
{% load bootstrap3 %}

{% block bootstrap3_content %}
    <style>
    .tt-hint {
        font-size: 18px;
        line-height: 1.33;
    }

    .twitter-typeahead .tt-query, .twitter-typeahead .tt-hint {
        height: 45px;
        padding: 10px 16px;
    }
    </style>
    <!-- Wrap all page content here -->
    <div id="wrap">
    <div class="view">

        <!-- Fixed navbar -->
        <div class="container">
            <div class="row clearfix">
                <div class="col-md-12 column">
                    <div class="media">
                        <a class="pull-left" href="#">
                            <img class="media-object" src="/static/img/info-dengue-logo-multicidades.png">
                        </a>
                        <a class="pull-right" href="http://www.procc.fiocruz.br">
                            <img class="media-object" src="/static/img/fiocruz.gif" , height="83px">
                        </a>
                        <a class="pull-right" href="http://emap.fgv.br">
                            <img class="media-object" src="/static/img/emap.jpg" , height="83px">
                        </a>

                    </div>
                    <div class="navbar navbar-default navbar-custom" role="navigation">
                        <div class="container">
                        <div class="navbar-header navbar-header-custom">
                            <button type="button" class="navbar-toggle" data-toggle="collapse"
                                    data-target=".navbar-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="{% url 'alerta' %}">Info Dengue</a>
                        </div>
                        <div class="collapse navbar-collapse">
                            <ul class="nav navbar-nav">
                                <li><a href="{% url "alerta" %}">Início</a></li>
                                <li><a href="{% url "about" %}">Saiba Mais</a></li>
                                <li><a href="{% url "contact" %}">Fale Conosco</a></li>
                                <li><a href="{% url "joinin" %}">Participe</a></li>
                                <li style="overflow: visible">
                                    <div id="remote" class="twitter-typeahead" style="overflow-y: auto; max-height: 150px; overflow: visible">
            <input type="text" class="form-control input-lg twitter-typeahead tt-dropdown-menu" placeholder="Encontre um município..." name="q" style="position: relative"></input>

                                </li>

                                {% if user.is_authenticated %}
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Acesse os Dados <b
                                                class="caret"></b></a>
                                        <ul class="dropdown-menu">
                                            <li class="dropdown-header">Incidência (SINAN)</li>
                                            <li><a href="{% url "sinan" 2010 00 %}">SINAN (2010)</a></li>
                                            <li><a href="{% url "sinan" 2011 00 %}">SINAN (2011)</a></li>
                                            <li><a href="{% url "sinan" 2012 00 %}">SINAN (2012)</a></li>
                                            <li><a href="{% url "sinan" 2013 00 %}">SINAN (2013)</a></li>
                                            <li class="divider"></li>
                                            <li class="dropdown-header">Dados Entomológicos</li>
                                            <li><a href="#">Ovitrampas</a></li>
                                            <li><a href="#">LIRAa</a></li>
                                            <li class="divider"></li>
                                            <li class="dropdown-header">Dados Climáticos</li>
                                        </ul>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Account <b
                                                class="caret"></b></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="{% url 'logout' %}">Logout</a></li>
                                            <li><a href="{% url 'password_change' %}">Change password</a></li>
                                        </ul>
                                    </li>
                                {% else %}
                                    <li><a href="{% url "login" %}">Login</a></li>
                                {% endif %}
                            </ul>
                        </div>

                        <!--/.nav-collapse -->


{##}
{#                            <ul class="nav nav-pills">#}
{#                                <li id="alerta" class="active"><a href="{% url 'alerta' %}">Alerta</a></li>#}
{#                                <li id="detalhes" class="active"><a href="{% url 'home' %}">Alerta Detalhado</a></li>#}
                                {#                        <li id="dengue"><a href="{% url 'mapadengue' %}">Mapa da Dengue</a></li>#}
                                {#                        <li id="vetor"><a href="{% url 'mapamosquito' %}">Mapa do Vetor</a></li>#}
{#                                <li id="historico" class="active"><a href="{% url 'historico' %}">Series Históricas</a>#}
{#                            </ul>#}


                        <script type="application/javascript">
                            // $('ul.nav.nav-pills li a').click(function () {
                            //   $(this).parent().addClass('active').siblings().removeClass('active');
                            // });
                        </script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>

        <script type="application/javascript">
            var citiesDisplay = new Bloodhound({
                    datumTokenizer: Bloodhound.tokenizers.whitespace,
                    queryTokenizer: Bloodhound.tokenizers.whitespace,
                    remote: {
                        url: "{% url 'get_city' %}",
                        replace: function(url, query) {
                            return url + "?q=" + query;
                        }
                    }
                });
            citiesDisplay.initialize();
            $('#remote .twitter-typeahead').typeahead({
                hint: true,
                minLength: 1,
                highlight: true},
                {name: 'cities-display',
                display: function(sugg){
                    return sugg.nome+' - '+sugg.uf
                },
                source: citiesDisplay,
            });
        </script>
        <!-- Begin page content -->

        <div class="container">

            <div class="page-header">
                <h1>{% block title %}(no title){% endblock %}</h1>
            </div>
            {% bootstrap_messages %}
            {% block content %}
                <p class="lead">Pin a fixed-height footer to the bottom of the viewport in desktop browsers with this
                    custom HTML and CSS. A fixed navbar has been added within <code>#wrap</code> with <code>padding-top:
                        60px;</code> on the <code>.container</code>.</p>
            {% endblock %}
        </div>
    </div>
{% endblock %}
