{% extends 'base.html' %}

{% block title %}Equipe{% endblock %}

{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Equipe</h3>
        </div>
        <div class="panel-body">
            O Sistema de Alerta Info Dengue é desenvolvido graças a parceria entre pesquisadores de diversas instituições e o serviço público:<br><br>
            <b>Coordenação Geral</b><br>
            Flávio Codeço Coelho: Professor Associado - Escola de Matemática Aplicada/FGV<br>
            Oswaldo Gonçalves Cruz: Pesquisador Titular - Programa de Computação Científica/Fiocruz<br>
            Cláudia Torres Codeço: Pesquisadora Titular - Programa de Computação Científica/Fiocruz<br><br>
            <b>Gestão do Projeto</b><br>
            Thais Riback: Pesquisadora Colaboradora - Programa de Computação Científica/Fiocruz<br><br>
            <b>Desenvolvimento</b><br>
            Israel Teixeira: Desenvolvedor - InfoDengue<br>
            Marcelo Gomes: Pesquisador Visitante - Programa de Computação Científica/Fiocruz<br><br>
            <b>Colaboradores</b><br>
            Wagner Meira: Professor Titular – Departamento de Ciência da Computação/UFMG<br>
            Walter dos Santos Filho: Observatório da Dengue/UFMG<br>
            Magda Clara Vieira da Costa Ribeiro: Professora Adjunta – Instituto de Biociências/UFPR<br>
            Jean Carlos dos Santos Barrado: Doutorando – ENSP/Fiocruz<br>
            Cláudia Brandelero Rizzi: Professora - Curso de Ciência da Computação/UNIOESTE<br>
            Carolin Degener: Pós-Doutoranda – Programa de Computação Científica/Fiocruz<br><br>
            <b>Apoio</b><br>
            <a href="http://observatorio.inweb.org.br/">Observatório da Dengue</a><br>
            <a href="http://www.rio.rj.gov.br/web/sms">Secretaria Municipal de Saúde/Rio de Janeiro/RJ</a><br>
            
            <p>Gostaria de ter mais informações ou tirar dúvidas sobre o Sistema de Alerta Info Dengue? 
            Entre em contato conosco: <a href="mailto:alerta_dengue@fiocruz.br">enviar e-mail</a>
                        
        </p>
            
            
        </div>
               
        
            
         
        
        
    </div>
{% endblock %}
