{% extends 'base.html' %}
{% load i18n %}

{% block title %}Equipe{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-body">
            {% blocktrans %}
            O Sistema de Alerta Info Dengue é desenvolvido graças a parceria entre pesquisadores de diversas
            instituições e o serviço público:<br><br>
            {% endblocktrans %}
            <b>{% trans "Coordenação Geral:" %}</b>
            <ul>
                <li>{% trans " Flávio Codeço Coelho: Professor Associado - Escola de Matemática Aplicada/FGV," %}
                <li>{% trans " Oswaldo Gonçalves Cruz: Pesquisador Titular - Programa de Computação Científica/Fiocruz," %}
                <li>{% trans " Cláudia Torres Codeço: Pesquisadora Titular - Programa de Computação Científica/Fiocruz" %}
            </ul>
            <b>{% trans "Gestão do Projeto:" %}</b>
            <ul>
                <li>{% trans "Thais Riback: Pesquisadora Colaboradora - Programa de Computação Científica/Fiocruz" %}
            </ul>
            <b>{% trans "Desenvolvimento:" %}</b>
            <ul>
                <li>{% trans " Flávio Amieiro: Sys Admin e Desenvolvedor - InfoDengue" %}
                <li>{% trans " Israel Teixeira: Desenvolvedor - InfoDengue" %}
                <li>{% trans " Marcelo Gomes: Pesquisador Visitante - Programa de Computação Científica/Fiocruz" %}
            </ul>
            <b>{% trans "Colaboradores:" %}</b>
            <ul>
                <li>{% trans " Wagner Meira: Professor Titular – Departamento de Ciência da Computação/UFMG" %}
                <li>{% trans " Walter dos Santos Filho: Observatório da Dengue/UFMG" %}
                <li>{% trans " Magda Clara Vieira da Costa Ribeiro: Professora Adjunta – Instituto de Biociências/UFPR" %}
                <li>{% trans " Jean Carlos dos Santos Barrado: Doutorando – ENSP/Fiocruz" %}
                <li>{% trans " Cláudia Brandelero Rizzi: Professora - Curso de Ciência da Computação/UNIOESTE" %}
                <li>{% trans " Carolin Degener: Pós-Doutoranda – Programa de Computação Científica/Fiocruz" %}
            </ul>
            <b>{% trans "Apoio:" %}</b>
            <ul>
                <li><a href="http://observatorio.inweb.org.br/">{% trans "Observatório da Dengue" %}</a>
                <li><a href="http://www.rio.rj.gov.br/web/sms">{% trans "Secretaria Municipal de Saúde/Rio de Janeiro/RJ" %}</a>
                <li><a href="http://www.saude.rj.gov.br">{% trans " Secretaria de estado de Saúde do Rio de Janeiro" %}</a>
            </ul>

            <p>{% blocktrans %} Gostaria de ter mais informações ou tirar dúvidas sobre o Sistema de Alerta Info Dengue?
                Entre em contato <a href="mailto:alerta_dengue@fiocruz.br">conosco</a>.{% endblocktrans %}

            </p>


        </div>


    </div>
{% endblock %}
