{% extends 'base.html' %}
{% block extra_head %}
    {% load leaflet_tags %}
    {% leaflet_js %}
    {% leaflet_css %}
    {% leaflet_js plugins="ALL" %}
    <style>
        .leaflet-container {
            height: 600px;
        }
    </style>
    <script src="/static/js/highcharts.js"></script>
    <script src="/static/js/highcharts-more.js"></script>
    <script src="/static/js/modules/exporting.js"></script>
{% endblock %}


{% block title %}Projeto Alerta Dengue{% endblock %}

{% block content %}
    <br>
    <div id="alerta-chart" style="min-width: 500px; height: 400px; margin: 10px "></div>
    <script type="text/javascript">
        $(function () {
            $('#alerta-chart').highcharts({
            chart: {
                type: 'spline'
            },
            title: {
                text: 'Alertas da Dengue'
            },
            xAxis: {
                type: 'datetime'
                //categories: ['Apples', 'Oranges', 'Pears', 'Grapes', 'Bananas']
            },
            tooltip: {
                crosshairs: true,
                shared: true
            },
            yAxis: [{
                min: 0,
                gridLineWidth: 0,
                categories: ["Estação", "Transmissão", "Epidemia"],
                title: {
                    text: 'Alerta'
                }
            }, { //  yAxis de casos
                        gridLineWidth: 0,
                        type: "logarithmic",
                        title: {
                            text: 'Casos de Dengue',
                            style: {
                                color: '#D2D2C7'
                            }
                        },
                        labels: {
                            formatter: function () {
                                return this.value + ' pessoas';
                            },
                            style: {
                                color: '#D2D2C7'
                            }
                        },
                        opposite: true
                    }
                    ],
            legend: {
                align: 'right',
                x: -70,
                verticalAlign: 'top',
                y: 20,
                floating: true,
                backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColorSolid) || 'white',
                borderColor: '#CCC',
                borderWidth: 1,
                shadow: false
            },

            plotOptions: {
                spline: {
                    marker: {
                        radius: 0,
                        lineColor: '#ffffffff',
                        lineWidth: 0
                    }
                }
            },
            series: [
                {
                color: "#D2D2C7",
                type: "areaspline",
                pointInterval: 7 * 24 * 3600 * 1000,
                pointStart: Date.UTC(2009, 12, 27),
                name: 'Casos',
                data: {{ casos }},
                yAxis: 1,
                tooltip: {
                            valueSuffix: ' casos'
                        }
            },
                {
                color: "#00ff00",
                pointInterval: 7 * 24 * 3600 * 1000,
                pointStart: Date.UTC(2009, 12, 27),
                name: 'Estação de Dengue',
                data: {{ season_alert|safe }}
            }, {
                color: "#0000ff",
                pointInterval: 7 * 24 * 3600 * 1000,
                pointStart: Date.UTC(2009, 12, 27),
                name: 'Transmissão Sustentada',
                data: {{ transmissao_alert|safe }}
            }, {
                color: "#ff0000",
                pointInterval: 7 * 24 * 3600 * 1000,
                pointStart: Date.UTC(2009, 12, 27),
                name: 'Epidemia',
                data: {{ epidemia_alert|safe }}
            }
            ]
        });

        });
    </script>



{% endblock %}

