{% extends 'base.html' %}
{% block extra_head %}
    {% load leaflet_tags %}
    {% leaflet_js %}
    {% leaflet_css %}
    {% leaflet_js plugins="ALL" %}
    <style>
        .leaflet-container {
            height: 100%;
        }
    </style>
{% endblock %}


{% block title %}<br>Projeto Alerta Dengue{% endblock %}

{% block content %}
    <h1>Casos de Dengue segundo SINAN</h1>
    {% leaflet_map "main" callback="main_map_init" %}

    <script type="text/javascript">
        function main_map_init(map, options) {
            var dataurl = '{% url "sinan" 2010 %}';
            // Download GeoJSON via Ajax
            $.getJSON(dataurl, function(data){
                var markers = L.MarkerClusterGroup();
                //alert("ok")
                // Add GeoJSON layer
                var geojson = L.geoJson(data, {onEachFeature: function (feature, layer) {
                        //layer.bindPopup(feature.properties.name);
                    }
                });
                //L.geoJson(data).addTo(map)
                geojson.addTo(map);
            });
        }
    </script>


{% endblock %}
