{% extends 'base.html' %}
{% block extra_head %}
    {% load leaflet_tags %}
    {% leaflet_js %}
    {% leaflet_css %}
    {% leaflet_js plugins="ALL" %}
    <style>
        .leaflet-container {
            height: 600px;
        }
    </style>
    <script src="/static/js/highcharts.js"></script>
    <script src="/static/js/highcharts-more.js"></script>
    <script src="/static/js/modules/exporting.js"></script>
{% endblock %}


{% block title %}<br><a href="{% url 'home' %}">Projeto Alerta Dengue</a>{% endblock %}

{% block content %}
    <div id="alerta-chart" style="min-width: 500px; height: 400px; margin: 10px "></div>
    <script type="text/javascript">
        $(function () {
            $('#alerta-chart').highcharts({
            chart: {
                type: 'column'
            },
            title: {
                text: 'Alertas da Dengue'
            },
            xAxis: {
                type: 'datetime'
                //categories: ['Apples', 'Oranges', 'Pears', 'Grapes', 'Bananas']
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Alerta'
                },
                stackLabels: {
                    enabled: false,
                    style: {
                        fontWeight: 'bold',
                        color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
                    }
                }
            },
            legend: {
                align: 'right',
                x: -70,
                verticalAlign: 'top',
                y: 20,
                floating: true,
                backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColorSolid) || 'white',
                borderColor: '#CCC',
                borderWidth: 1,
                shadow: false
            },
            tooltip: {
                formatter: function() {
                    return '<b>'+ this.x +'</b><br/>'+
                        this.series.name +': '+ this.y +'<br/>'+
                        'Total: '+ this.point.stackTotal;
                }
            },
            plotOptions: {
                column: {
                    stacking: 'normal',
                    dataLabels: {
                        enabled: false,
                        color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white',
                        style: {
                            textShadow: '0 0 3px black, 0 0 3px black'
                        }
                    }
                }
            },
            series: [{
                pointInterval: 7 * 24 * 3600 * 1000,
                pointStart: Date.UTC(2009, 12, 27),
                name: 'Estação de Dengue',
                data: {{ season_alert }}
            }, {
                pointInterval: 7 * 24 * 3600 * 1000,
                pointStart: Date.UTC(2009, 12, 27),
                name: 'Transmissão Sustentada',
                data: {{ transmissao_alert }}
            }, {
                pointInterval: 7 * 24 * 3600 * 1000,
                pointStart: Date.UTC(2009, 12, 27),
                name: 'Epidemia',
                data: {{ epidemia_alert }}
            }]
        });

        });
    </script>



{% endblock %}

