{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Como participar do InfoDengue" %}{% endblock %}

{% block content %}
    <div class="panel panel-default">

        <div class="panel-body">
          {% trans "Para podermos implantar o Sistema de Alerta InfoDengue na sua cidade,
          o primeiro passo é fazermos uma análise preliminar dos dados disponíveis
          em nossas bases de clima e redes sociais para ver se o seu município poderá
          ser atendido pelo sistema." %} <br><br>

          {% trans "Preencha seus dados abaixo e entraremos em contato em no máximo 2 semanas." %}<br><br>

          <a href="https://docs.google.com/forms/d/1bb685VkjRSVK8kMNewXGBCwbfMChzzNMe5939st1Jvs/viewform?c=0&w=1">{% trans "Formulário" %}</a> <br><br>

          {% trans "Você quer saber mais detalhes? Entre em contato conosco: alerta_dengue@fiocruz.br" %}
        </div>
    </div>
{% endblock %}
