{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load lookup %}
{% load home_components %}
{% block extra_head %}
    <meta property="og:image"
          content="http://info.dengue.mat.br/static/img/screenshot.png"/>
    <meta property="og:image:secure_url"
          content="https://info.dengue.mat.br/static/img/screenshot.png"/>
    <style>

    </style>

{% endblock %}

{% block title %}
  {% blocktrans %}Situação Epidemiológica - {{ num_mun }} Municípios monitorados{% endblocktrans %}
{% endblock %}

{% block content %}

    <div class="container-fluid">

         <!-- chart-plot:begin -->
        <div class="container">
            {% state_component %}
        </div>
        <!-- chart-plot:end -->

    </div>

{% endblock %}
