{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load lookup %}
{% block extra_head %}
    {% load series %}
    <meta property="og:image"
          content="http://info.dengue.mat.br/static/img/screenshot.png"/>
    <meta property="og:image:secure_url"
          content="https://info.dengue.mat.br/static/img/screenshot.png"/>
    <style>
        .leaflet-container {
            height: 400px;
            width: 100%;

        }

        #main {
            width: 100%;
            height: 400px;
        }

        .info {
            padding: 6px 8px;
            font: 14px/16px Arial, Helvetica, sans-serif;
            background: white;
            background: rgba(255, 255, 255, 0.8);
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
            border-radius: 5px;
        }

        .info h4 {
            margin: 0 0 5px;
            color: #777;
        }

        .legend {
            text-align: left;
            line-height: 18px;
            color: #555;
        }

        .legend i {
            width: 18px;
            height: 18px;
            float: left;
            margin-right: 8px;
            opacity: 0.7;
        }

        .table-card td, .table-card th {
            padding: 10px;
            font-size: 12px;
        }
    </style>
    <script src="/static/js/Autolinker.min.js"></script>
    <script src="/static/libs/jquery/jquery.sparkline.min.js"></script>
    <script src="/static/js/highstock.js"></script>
    <script src="/static/js/modules/exporting.js"></script>
    <script src="/static/js/infodengue.js"></script>

{% endblock %}

{% block title %}
  {% blocktrans %}Situação Epidemiológica - {{ num_mun }} Municípios monitorados{% endblocktrans %}
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <!-- chart-plot:begin -->
        <div class="row">
            <div {% if n_alerts_chik > 0 %}
                class="col-sm-6"
                {% else %}
                class="col-sm-12"
                {% endif %}
            >
                <div class="chart-wrapper">
                  <div class="chart-stage">
                    {% total_series_dengue %}
                  </div>
                </div>
            </div>
            {% if n_alerts_chik > 0 %}
            <div class="col-sm-6">
                <div class="chart-wrapper">
                  <div class="chart-stage">
                    {% total_series_chik %}
                  </div>
                </div>
            </div>
            {% endif %}
        </div>
        <!-- chart-plot:end -->

        <!-- chart-states:begin -->
        <div class="row card">
            {% for state_name in states %}
            <div class="col-sm-4">
                <div class="chart-wrapper">
                    <div class="chart-title">
                        <h2>{{state_name}}</h2>
                    </div>
                    <div class="chart-stage">
                        <div class="row">
                            <div class="col-sm-12">
                                <small style="color:#888888;">
                                    {% blocktrans %}Última atualização{% endblocktrans %}:
                                    {{last_se|lookup:state_name}}
                                </small>
                                <table class="table-card">
                                    <tr>
                                        <th></th>
                                        {% for disease in diseases %}
                                        <th style="text-transform:capitalize;">{{disease}}</th>
                                        {% endfor %}
                                    </tr>
                                    <tr>
                                        <th>{% blocktrans %}Municípios participantes{% endblocktrans %}:</th>
                                        {% for disease in diseases %}
                                        <td class="card-indicator-value">
                                            <span>{{count_cities|lookup:disease|lookup:state_name}}</span></td>
                                        {% endfor %}
                                    </tr>
                                    <tr>
                                        <th>{% blocktrans %}Total de casos notificado / estimados na semana{% endblocktrans %}:</th>
                                        {% for disease in diseases %}
                                        <td class="card-indicator-value">
                                            <span>{{current_week|lookup:disease|lookup:state_name|lookup:'casos'}} /
                                            {{current_week|lookup:disease|lookup:state_name|lookup:'casos_est'}}
                                        </span></td>
                                        {% endfor %}
                                    </tr>
                                    <tr>
                                        <th>{% blocktrans %}Previsão de casos para as próximas semanas{% endblocktrans %}:</th>
                                        {% for disease in diseases %}
                                        <td class="card-indicator-value">
                                            <span>{{estimated_cases_next_week|lookup:disease|lookup:state_name}}</span></td>
                                        {% endfor %}
                                    </tr>
                                    <tr>
                                        <th>{% blocktrans %}Variação em relação à semana anterior{% endblocktrans %}:</th>
                                        {% for disease in diseases %}
                                        <td class="">
                                            {% if variation_to_current_week|lookup:disease|lookup:state_name > 0%}
                                                <span class="badge alert-danger">
                                                    {{variation_to_current_week|lookup:disease|lookup:state_name}}%
                                                    &uarr;
                                                </span>
                                            {% elif variation_to_current_week|lookup:disease|lookup:state_name < 0 %}
                                                <span class="badge alert-success">
                                                    {{variation_to_current_week|lookup:disease|lookup:state_name}}%
                                                    &darr;
                                                </span>
                                            {% else %}
                                                <span class="badge alert-warning">
                                                    {{variation_to_current_week|lookup:disease|lookup:state_name}}%
                                                </span>
                                            {% endif %}
                                        </td>
                                        {% endfor %}
                                    </tr>
                                    <tr>
                                        <th>{% blocktrans %}Variação da quadrissemana atual em relação à quadrissemana do último ano{% endblocktrans %}:</th>
                                        {% for disease in diseases %}
                                        <td class="">
                                            {% if variation_4_weeks|lookup:disease|lookup:state_name > 0%}
                                                <span class="badge alert-danger">
                                                    {{variation_4_weeks|lookup:disease|lookup:state_name}}%
                                                    &uarr;
                                                </span>
                                            {% elif variation_4_weeks|lookup:disease|lookup:state_name < 0 %}
                                                <span class="badge alert-success">
                                                    {{variation_4_weeks|lookup:disease|lookup:state_name}}%
                                                    &darr;
                                                </span>
                                            {% else %}
                                                <span class="badge alert-warning">
                                                    {{variation_4_weeks|lookup:disease|lookup:state_name}}%
                                                </span>
                                            {% endif %}
                                        </td>
                                        {% endfor %}
                                    </tr>
                                    <tr>
                                        <th></th>
                                        <td></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="row vertical-align">
                            <div class="col-sm-12" style="font-size:12px;">
                                <a href="/alerta/{{state_initials|lookup:state_name}}">
                                    {% blocktrans %}Clique aqui para ver mais detalhes{% endblocktrans %}.
                                </a>
                            </div>
                        </div>

                    </div>
                  <!--
                  <div class="chart-notes">
                    This is a sample text region to describe this chart.
                  </div>
                  -->
                </div>
              </div>
            {% endfor %}
        </div>
        <!-- chart-states:end -->
    </div>

{% endblock %}
