{% extends 'base.html' %}
{% load i18n %}
{% block extra_head %}
    {% load leaflet_tags %}
    {% leaflet_js %}
    {% leaflet_css %}
    {% leaflet_js plugins="ALL" %}
    <style>
        .leaflet-container {
            height: 600px;
        }
    </style>
    <script src="/static/js/heatmap.js"></script>
    <script src="/static/js/heatmap-leaflet.js"></script>
    <script src="/static/js/QuadTree.js"></script>

{% endblock %}


{% block title %}<br><a href="{% url 'home' %}">{% trans "Mapa de Casos" %}</a>{% endblock %}

{% block content %}
    <div id="progress" style="display: none">
        <div id="progress-bar" style="display: none"></div>
    </div>

    <h1>{% trans "Casos de Dengue no município do Rio de Janeiro, em <b id="ano">2010</b> segundo SINAN." %}</h1>
    <b>{% trans "Year: " %}</b> <select id="year">
    <option value="2010">2010</option>
    <option value="2011">2011</option>
    <option value="2012">2012</option>
    <option value="2013">2013</option>
</select><br>

    {% leaflet_map "main" callback="main_map_init" %}

    <script type="text/javascript">
        $('ul.nav.nav-pills li a').parent().removeClass('active')
        $('#dengue').addClass('active')

        var case_layers = L.layerGroup();
        var progress = $("#progress");
        var progressBar = $("#progress-bar");
        $("select").change(function () {
            $(this).find("option:selected").each(function () {
                redraw_map($("#year option:selected").val())
            });
        });
        function redraw_map(year) {
            case_layers.clearLayers();
            var map = $(document).data('map')
            map._layersMaxZoom=13
            $.getJSON("/sinan/" + year.toString() + "/40", function (data) {
                var markers = L.markerClusterGroup({ spiderfyOnMaxZoom: true, showCoverageOnHover: true,
                    zoomToBoundsOnClick: true, chunkedLoading: true, chunkProgress: updateProgressBar });
                // Add GeoJSON layer
                var geojson = L.geoJson(data, {onEachFeature: function (feature, layer) {
                    layer.bindPopup(feature.properties.data);
                }
                });
                markers.addLayer(geojson);
                case_layers.addLayer(markers);
                case_layers.addTo(map);
            });
            $("#ano").text(year.toString())
        }
        ;
        function updateProgressBar(processed, total, elapsed, layersArray) {
            if (elapsed > 1000) {
                // if it takes more than a second to load, display the progress bar:
                $("#progress").css("display", 'block');
                $("#progress-bar").css("width", Math.round(processed / total * 100) + '%');
            }

            if (processed === total) {
                // all markers processed - hide the progress bar:
                $("#progress").css("display", 'none');
            }
        }
        function main_map_init(map, options) {
            $(document).data('map', map)
            map._layersMaxZoom=13
            $("#ano").text("2010")
            var dataurl = '{% url "sinan" 2010 00%}';
            // Download GeoJSON via Ajax
            var geojson;
            var heatmap_points = {
                max: 46,
                data: [],
            };
            $.getJSON(dataurl, function (data) {
                // Add GeoJSON layer
                geojson = L.geoJson(data, {onEachFeature: function (feature, layer) {
                    layer.bindPopup(feature.properties.data);
                    heatmap_points.data.push({lat: feature.geometry.coordinates[1],
                                              lon: feature.geometry.coordinates[0],
                                              value:1})
                }
                });
                var markers = L.markerClusterGroup({ spiderfyOnMaxZoom: false, showCoverageOnHover: true,
                    zoomToBoundsOnClick: true, chunkedLoading: true, chunkProgress: updateProgressBar });
                markers.addLayer(geojson);
                case_layers.addLayer(markers);
                case_layers.addTo(map);
            });

            var heatmapLayer = L.TileLayer.heatMap({
                    radius: { value: 15000, absolute: true },
                    opacity: 0.8,
                    gradient: {
                        0.45: "rgb(0,0,255)",
                        0.55: "rgb(0,255,255)",
                        0.65: "rgb(0,255,0)",
                        0.95: "yellow",
                        1.0: "rgb(255,0,0)"
                    }
                });
            heatmapLayer.setData(heatmap_points.data);
            var overlayMaps = {
                    'Heatmap': heatmapLayer,
                    'Cases': markers
                };
            var controls = L.control.layers(null, overlayMaps, {collapsed: false});
            controls.addTo(map);

        }
    </script>


{% endblock %}
