{% extends 'base.html' %}
{% load i18n %}

{% block extra_head %}

<link rel="stylesheet"
      type="text/css" href="/static/libs/DataTables/datatables.min.css"/>

<script type="text/javascript"
        src="/static/libs/DataTables/datatables.min.js"></script>

<style>
      .box {
        border: 1px #dfdfdf solid;
        padding: 20px;
        margin-bottom: 20px;
        background-color: #f5f5f5;
      }

      .table tr td:nth-child(1){
        background: #fafafa!important;
        font-weight: bold;
      }

      .green-row td {
        background: #8BFFB7;
      }

      .yellow-row td {
        background: #FFEB5C;
      }

      .orange-row td {
        background: #FFCE5C;
      }

      .red-row td {
        background: #FF7C73;
      }
      .table.dataTable, .table td, .table th {
        border-collapse: collapse !important;
        border: 1px solid #aaaaaa!important;
      }

</style>
<script src="/static/libs/plotlyjs/plotly-latest.min.js"></script>
{% endblock %}

{% block breadcrumbs %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/report">{% trans "Relatórios" %}</a></li>
      <li class="breadcrumb-item"><a href="/report">{% trans "Municipal" %}</a></li>
      <li class="breadcrumb-item"><a href="/report/{{ state }}/city">{{ state }}</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{ city_name }}</li>
  </ol>
</nav>
{% endblock %}

{% block title %}{% trans "Relatório da Situação das Arboviroses em " %} {{city_name}} -
{{state_name}} {% endblock %}

{% block content %}

<!--
# ---------------------------------
# 	CAIXA LATERAL - PRIMEIRA PAGINA
# ---------------------------------
-->

<div class="row">
  <div class="col-md-12">

    <!--
    # ----------------------
    #	MAIN BODY - FIRST PAGE
    # ----------------------
    -->
    <p>
      {% trans "Semana epidemiológica" %}: {{last_week}}/{{last_year}}
    </p>
    <p>
      <!--
      usar a cor correspondente ao nivel de
      alerta mais alto considerando as 3 doenças
      -->
      {% trans "Situação de alerta do município" %}: {{max_alert_color}}
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
      <h3>{% trans "Condições climáticas para transmissão de arboviroses" %}</h3>

      <p>{% blocktrans %}A figura abaixo mostra o indicador meteorológico de receptividade do
      município para a transmissão de arboviroses. Quando o indicador está
      acima do limiar (linha horizontal), existem condições ambientais
      favoraveis à transmissão viral. Isso significa que a atenção precisa ser
      aumentada para a possivel circulação sustentada de arbovirus e para a
      implementação de controle vetorial{% endblocktrans %}.</p>

      {{chart_dengue_climate|safe}}

      <br/>&nbsp;
  </div>
</div>

{% if tweet_max > 0%}
<div class="row">
  <div class="col-md-12">
    <h3>{% trans "Menção a arboviroses nas redes sociais" %}</h3>

    <p>{% blocktrans %}A figura abaixo mostra a intensidade de menção de sintomas de arboviroses
    e presença de mosquitos de acordo com a população do município que usa
    redes sociais.
    Esse indicador, que é mais eficaz em cidades maiores, deve ser visto como
    um auxiliar na detecção precoce de aumento de casos. Atualmente,
    esse indicador é mais sensivel para detectar dengue do que outras
    arboviroses{% endblocktrans %}.</p>

    {{chart_dengue_tweets|safe}}

    <br/>&nbsp;

  </div>
</div>
{% endif %}

<div class="row">
  <div class="col-md-12">

    <h3>{% trans "Situação da Dengue" %}</h3>

    {% if total_n_dengue >= 0 %}
    <p><i><b>
      {% trans "Esse ano, até essa semana" %}, {{total_n_dengue}}
      {% trans "casos de Dengue foram registrados" %}.
      {% trans "No ano passado, até essa semana" %}, {{total_n_dengue_last_year}}
      {% trans "tinham sido registrados" %}.</b></i></br>

      {% blocktrans %}A figura abaixo mostra a situação da dengue nos últimos dois anos.
      As linhas horizontais correspondem aos limiares de incidência
      pré-epidêmicos, epidêmicos e pós-epidêmicos
      (casos por 100.000 habitantes){% endblocktrans %}</p>

    {{chart_dengue_incidence|safe}}

    <br/>&nbsp;

    {{df_dengue|safe}}

    {% else %}
    <p>
      {% trans "Sem dados disponíveis para geração dessa seção" %}.
    </p>
    {% endif %}

    <br/>
  </div>
</div>

<div class="row">
  <div class="col-md-12">

    <h3>{% trans "Situação da Chikungunya" %}</h3>

    {% if total_n_chik >= 0 %}
    <p><i><b>
        {% trans "Esse ano, até essa semana" %}, {{total_n_chik}}
        {% trans "casos de Chikungunya foram registrados" %}.
        {% trans "No ano passado, até essa semana" %}, {{total_n_chik_last_year}}
        {% trans "tinham sido registrados" %}.</b></i></br>

      {% blocktrans %}A figura abaixo mostra a situação da chikungunya nos últimos dois anos.
      As linhas horizontais correspondem aos limiares de incidência
      pré-epidêmicos, epidêmicos e pós-epidêmicos
      (casos por 100.000 habitantes){% endblocktrans %}</p>

    {{chart_chik_incidence|safe}}

    <br/>&nbsp;

    {{df_chik|safe}}

    {% else %}
    <p>
      {% trans "Sem dados disponíveis para geração dessa seção" %}.
    </p>
    {% endif %}

    <br/>
  </div>
</div>

<div class="row">
  <div class="col-md-12">

    <h3>{% trans "Situação da Zika" %}</h3>

    {% if total_n_zika >= 0 %}
    <p><i><b>
      {% trans "Esse ano, até essa semana" %}, {{total_n_zika}}
      {% trans "casos de Zika foram registrados" %}.
      {% trans "No ano passado, até essa semana" %}, {{total_n_zika_last_year}}
      {% trans "tinham sido registrados" %}.</b></i></br>

      {% blocktrans %}A figura abaixo mostra a situação da zika nos últimos dois anos.
      As linhas horizontais correspondem aos limiares de incidência
      pré-epidêmicos, epidêmicos e pós-epidêmicos
      (casos por 100.000 habitantes){% endblocktrans %}</p>

    {{chart_zika_incidence|safe}}

    <br/>&nbsp;

    {{df_zika|safe}}


    {% else %}
    <p>
      {% trans "Sem dados disponíveis para geração dessa seção" %}.
    </p>
    {% endif %}

    <br/>&nbsp;
  </div>
</div>

<div class="row">
  <div class="col-md-2"></div>
  <div id="color-code" class="col-md-8 box">
    <!--
    # ---------------------
    # BOX - CODIGO DE CORES
    # ---------------------
    -->

    <h3>{% trans "O código de Cores" %}</h3>

    {% trans "As cores indicam niveis de atenção" %}

    <ul>
      <li class="bullet-green">
        <strong>{% trans "Verde" %}:</strong> {% trans "condições climáticas desfavoráveis, seja" %}
        {% trans "por baixa temperatura ou baixa umidade, e baixa incidência de casos" %}.
      </li>
      <li class="bullet-yellow">
        <strong>{% trans "Amarelo" %}:</strong> {% trans "condições climáticas propícias para" %}
        {% trans "aumento da população do vetor e transmissão de arboviroses" %}.
      </li>
      <li class="bullet-orange">
        <strong>{% trans "Laranja" %}:</strong> {% trans "transmissão aumentada e sustentada da arbovirose" %}.
      </li>
      <li class="bullet-red">
        <strong>{% trans "Vermelho" %}:</strong> {% trans "incidência alta, acima dos 90% históricos" %}.
      </li>
    </ul>
  </div>
</div>
<br/>
<div class="row">
  <div id="var-tables" class="col-md-12">
    <!--
    # ----------------------------------------
    # Variáves nas Tabelas, Créditos e Contato
    # ----------------------------------------
    -->

    <h3>{% trans "Lista das variáveis apresentadas nas tabelas" %}</h3>

    <ul>
      <li><b>SE</b>:
        {% trans "Semana epidemiológica" %}</li>

      <li><b>temp.min</b>:
        {% trans "Média das temperaturas mínimas diárias ao longo da semana" %}</li>
      <li><b>temp.med</b>:
        {% trans "Média das temperaturas diárias ao longo da semana" %}</li>
      <li><b>temp.max</b>:
        {% trans "Média das temperaturas máximas diárias ao longo da semana" %}</li>

      <li><b>umid.min</b>:
        {% trans "Média da umidade relativa mínima diária do ar ao longo da semana" %}</li>
      <li><b>umid.med</b>:
        {% trans "Média da umidade relativa diária do ar ao longo da semana" %}</li>        
      <li><b>umid.max</b>:
        {% trans "Média da umidade relativa máxima diária do ar ao longo da semana" %}</li>
        
      <li><b>tweet</b>:
        {% trans "Número de mensagens mencionando sintomas de dengue em tweets geolocalizados. Fonte: Observatório da Dengue / UFMG" %}</li>
      <li><b>casos notif</b>:
        {% trans "Número de casos notificados por semana (Os valores são atualizados retrospectivamente todas as semanas)" %}</li>
      <li><b>incidência</b>:
        {% trans "Taxa de incidência estimada por 100.000" %}</li>
      <li><b>casos_est</b> :
        {% trans "Número estimado de casos por semana usando o modelo de nowcasting (nota: Os valores são atualizados retrospectivamente a cada semana)" %}</li>
      <li><b>pr(inc subir)</b>:
        {% trans "Probabilidade de (Rt> 1). Para emitir o alerta laranja, usamos o critério p_rt1> 0,95 por 3 semanas ou mais." %}</li>
      <li><b>nivel</b>:
        {% trans "Nível de alerta (1 = verde, 2 = amarelo, 3 = laranja, 4 = vermelho), mais detalhes, consulte (Saiba mais)" %}</li>
      </ul>
  </div>
</div>

<div class="row">
  <div id="notes" class="col-md-12">
    <h3>{% trans "Notas" %}</h3>

    <ul>
      <li>{% blocktrans %}Os dados do sinan mais recentes ainda não foram totalmente digitados.
        Estimamos o número esperado de casos notificados considerando o tempo
        até os casos serem digitados{% endblocktrans %}.
      </li>
      <li>{% blocktrans %}Os dados de redes sociais são coletados e
        analisados pelo Observatório de Dengue (UFMG){% endblocktrans %}.
      </li>
      <li>{% blocktrans %}Algumas vezes, os casos da última semana ainda não estao disponíveis,
        nesse caso, usa-se uma estimação com base na tendência de variação da
        série{% endblocktrans %}.
      </li>
    </ul>
  </div>
</div>

<div class="row">
  <div id="credits" class="col-md-12">
    <h3>{% trans "Créditos" %}</h3>

    {% trans "Este foi um projeto desenvolvido com apoio da SVS/MS e é operado como parceira entre" %}:

    <ul>
      <li>{% trans "Programa de Computação Científica, Fundação Oswaldo Cruz, Rio de Janeiro" %}.
      </li>
      <li>{% trans "Escola de Matemática Aplicada, Fundação Getúlio Vargas" %}.</li>
      <li>{% trans "Secretaria Estadual de Saúde do" %} {{state_name}}.</li>
      <li>{% trans "Observatório de Dengue da UFMG" %}.</li>
    </ul>
  </div>
</div>

<div class="row">
  <div id="contact" class="col-md-12">
    <h3>{% trans "Contato" %}</h3>
    {% trans "Para mais detalhes sobre o sistema de alerta InfoDengue, consultar" %}:
    <a href="http://info.dengue.mat.br">http://info.dengue.mat.br</a>
  </div>
</div>

<script>
  $(document).ready(function(){
    var cssClasses = {
      'verde': 'green-row',
      'amarelo': 'yellow-row',
      'laranja': 'orange-row',
      'vermelho': 'red-row'
    }

    $('.table tr').each(function(i, obj){
      $(this).addClass(cssClasses[$('td:last-child', this).text()]);
    });

    $(document).ready( function () {
      $('.table').DataTable({
        "pageLength": 4,
        "lengthMenu": [ 4, 8, 12 ],
        "order": [[ 0, "desc" ]],
        "searching": false,
        "language": {
          "url": "/static/libs/DataTables/i18n/pt_BR.json"
        }
      } );
    } );
  });
</script>

{% endblock %}
