{% extends 'base.html' %}
{% load lookup %}
{% load i18n %}
{% load django_altair %}
{% load staticfiles %}

{% block extra_head %}

{% load leaflet_tags %}
{% leaflet_js %}
{% leaflet_css %}
{% leaflet_js plugins="ALL" %}

{% load report_state %}

<script src="/static/libs/jquery/jquery.sparkline.min.js"
            type="text/javascript"></script>

<link rel="stylesheet"
      type="text/css" href="/static/libs/DataTables/datatables.min.css"/>

<script type="text/javascript"
        src="/static/libs/DataTables/datatables.min.js"></script>

<script src="/static/js/infodengue.js"
            type="text/javascript"></script>

<style>
      .box {
        border: 1px #dfdfdf solid;
        padding: 20px;
        margin-bottom: 20px;
        background-color: #f5f5f5;
      }

      .table tr td:nth-child(1){
        background: #fafafa!important;
        font-weight: bold;
      }

      .green-row td {
        background: #8BFFB7;
      }

      .yellow-row td {
        background: #FFEB5C;
      }

      .orange-row td {
        background: #FFCE5C;
      }

      .red-row td {
        background: #FF7C73;
      }
      .table.dataTable, .table td, .table th {
        border-collapse: collapse !important;
        border: 1px solid #aaaaaa!important;
      }

      .circle:before {
        content: ' \25CF';
        font-size: 30px;
        line-height: 20px;
      }

      .alert-1 {
        color: green;
      }

      .alert-2 {
        color: yellow;
      }

      .alert-3 {
        color: orange;
      }

      .alert-4 {
        color: red;
      }

      .alert-None {
        color: white;
      }

      #main {
          width: 100%;
          height: 400px;
      }

      .info {
          padding: 6px 8px;
          font: 14px/16px Arial, Helvetica, sans-serif;
          background: white;
          background: rgba(255, 255, 255, 0.8);
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
          border-radius: 5px;
      }

      .info h4, .info h6 {
          margin: 0 0 5px;
          color: #777;
      }

      .legend {
          text-align: left;
          line-height: 18px;
          color: #555;
      }

      .legend i {
          width: 18px;
          height: 18px;
          float: left;
          margin-right: 8px;
          opacity: 0.7;
      }

</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vega/3.2.0/vega.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vega-lite/2.4.1/vega-lite.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vega-embed/3.0.0/vega-embed.min.js"></script>

<script>
  function isInArray(el, array) {
      return (array.indexOf(el) >= 0) ? true : false;
  }
</script>
{% endblock %}

{% block breadcrumbs %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/report">{% trans "Relatórios" %}</a></li>
      <li class="breadcrumb-item"><a href="/report">{% trans "Estadual" %}</a></li>
      <li class="breadcrumb-item"><a href="/report/{{ state }}/state">{{ state }}</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{ week }}/{{ year }}</li>
  </ol>
</nav>
{% endblock %}


{% block title %}{% trans "Relatório Estadual da Situação das Arboviroses em " %}
{{state_name}} {% endblock %}

{% block content %}

<!--
# ---------------------------------
# 	CAIXA LATERAL - PRIMEIRA PAGINA
# ---------------------------------
-->

<div class="row">
  <div class="col-md-12">

    <!--
    # ----------------------
    #	MAIN BODY - FIRST PAGE
    # ----------------------
    -->
    <p>
      Data da última atualização : {{ last_week }}/{{ last_year }}
    </p>
    <p>
      Esse é o relatório resumido da situação de alerta de arboviroses no
      estado, detalhado por Regional de Saúde. Para acessar estatísticas
      gerais do estado, consulte a
      <a href="/alerta/{{ state }}/dengue" target="__blank__">página de estados</a>.
      E para consultar um município específico, consulte a
      <a href="/report/{{ state }}/city" target="__blank__">página de relatórios municipais</a>.
    </p>
  </div>
</div>

<div class="row my-3">
  <div class="col-md-4">
    <div class="card">
      <div class="card-header">Mapa Alerta Dengue</div>
      <div class="card-body p-0">{% map_chart_dengue %}</div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card">
      <div class="card-header">Mapa Alerta Chikungunya</div>
      <div class="card-body p-0">{% map_chart_chik %}</div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card">
      <div class="card-header">Mapa Alerta Zika</div>
      <div class="card-body p-0">{% map_chart_zika %}</div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12 my-2">
    <h3>Índice</h3>
    <ul>
    {% for regional_name in regional_names %}
      <li><a href="#{{regional_name}}">Regional {{regional_name}}</a></li>
    {% endfor %}

    </ul>
  </div>
</div>

{% for regional_name in regional_names %}
  <div class="row">
    <div class="col-md-12 my-2">

      <div class="row my-3">
        <div class="col-md-12">
          <h3 id="{{ regional_name }}">Regional {{ regional_name }}</h3>
          <p>
            A tabela abaixo mostra os niveis de alerta em cada município da
            Regional de Saúde. As cores indicam niveis de atenção, conforme
            detalhado na <a href="#color-code">tabela de cores</a>.
          </p>
        </div>
      </div>

      <div class="row my-3">
        <div class="col-md-12">
          <h4>Alertas</h4>
          <table class="table table-striped table-bordered">
            <thead>
             <tr>
               <th width="20%">Município</th>
               {% for d in diseases_name%}
               <td width="20%" align="center"><strong>{{ d }}</strong></td>
               {% endfor %}
             </tr>
            </thead>
            <tbody>
            {% for city_geocode in regional_info|lookup:regional_name|lookup:'cities_geocode' %}
            <tr>
              <td>{{ regional_info|lookup:regional_name|lookup:'cities_name'|lookup:city_geocode }}</td>
              {% for d in diseases_code %}
              <td align="center">
                <span
                  class="circle alert-{{ regional_info|lookup:regional_name|lookup:'cities_alert'|lookup:city_geocode|lookup:d }}">&nbsp;
                </span></td>
              {% endfor %}
            </tr>
            </tbody>
          {% endfor %}
          </table>
        </div>
      </div>

      <div class="row my-3">
        <div class="col-md-12">
          <h4>
            Casos notificados de arboviroses na Regional de Saúde
          </h4>

          <p>
            A Figura abaixo mostra a série temporal de casos notificados de
            arboviroses na última semana. A curva de menções refere-se à
            intensidade de menção de sintomas de arboviroses e presença de
            mosquitos de acordo com a população do município que usa
            redes sociais. Esse indicador, que é mais eficaz em cidades
            maiores, deve ser visto como um auxiliar na detecção precoce de
            aumento de casos. Atualmente, esse indicador é mais sensivel para
            detectar dengue do que outras arboviroses.
          </p>

        </div>
      </div>

      <div class="row my-3">
        <div class="col-md-12 mb-2">
          <ul class="nav nav-tabs" id="charts-tab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="chart-dengue-tab" data-toggle="tab"
                 href="#chart-dengue" role="tab" aria-controls="chart-dengue"
                 aria-selected="true">Dengue</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="chart-chik-tab" data-toggle="tab"
                 href="#chart-chik" role="tab" aria-controls="chart-chik"
                 aria-selected="false">Chikungunya</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="chart-zika-tab" data-toggle="tab"
                 href="#chart-zika" role="tab" aria-controls="chart-zika"
                 aria-selected="false">Zika</a>
            </li>
          </ul>

          <div class="tab-content p-3" id="charts-content"
               style="border: 1px solid #dfdfdf"
          >
            <div class="fade show active" id="chart-dengue"
                 role="tabpanel" aria-labelledby="chart-dengue-tab"
            >
              {% render_chart regional_info|lookup:regional_name|lookup:'chart_cases_twitter'|lookup:'dengue' %}

            </div>
            <div class="fade" id="chart-chik" role="tabpanel"
                 aria-labelledby="char-chik-tab"
            >
              {% render_chart regional_info|lookup:regional_name|lookup:'chart_cases_twitter'|lookup:'chik' %}

              
            </div>
            <div class="fade" id="chart-zika" role="tabpanel"
                 aria-labelledby="chart-zika-tab"
            >
              {% render_chart regional_info|lookup:regional_name|lookup:'chart_cases_twitter'|lookup:'zika' %}
            </div>
          </div>
        </div>
      </div>

      <div class="row my-3">
        <div class="col-md-12">
          <h4>
            Resumo das últimas seis semanas epidemiológicas na Regional de Saúde
          </h4><br/>
          {{ regional_info|lookup:regional_name|lookup:'table'|safe }}
        </div>
      </div>

      {% if tweet_max > 0%}
      <div class="row my-3">
        <div class="col-md-12">
          <h4>Menção a arboviroses nas redes sociais</h4>

          <p>
          A figura abaixo mostra a intensidade de menção de sintomas de arboviroses
          e presença de mosquitos de acordo com a população do município que usa
          redes sociais.
          Esse indicador, que é mais eficaz em cidades maiores, deve ser visto como
          um auxiliar na detecção precoce de aumento de casos. Atualmente,
          esse indicador é mais sensivel para detectar dengue do que outras
          arboviroses.
          </p>

          <!-- gráfico 2 -->
          {% render_chart chart_dengue_tweets %}
          <br/>&nbsp;

        </div>
      </div>
      {% endif %}
    </div>
  </div>
{% endfor %}

<div class="row">
  <div class="col-md-2"></div>
  <div id="color-code" class="col-md-8 box">
    <!--
    # ---------------------
    # BOX - CODIGO DE CORES
    # ---------------------
    -->

    <h3>O código de Cores</h3>

    As cores indicam niveis de atenção

    <ul>
      <li class="bullet-green">
        <strong>Verde:</strong> condições climáticas desfavoráveis, seja
        por baixa temperatura ou baixa umidade, e baixa incidência de casos.
      </li>
      <li class="bullet-yellow">
        <strong>Amarelo:</strong> condições climáticas propícias para
        aumento da população do vetor e transmissão de arboviroses.
      </li>
      <li class="bullet-orange">
        <strong>Laranja:</strong> transmissão aumentada e sustentada
        da arbovirose.
      </li>
      <li class="bullet-red">
        <strong>Vermelho:</strong> incidência alta, acima dos 90%
        históricos.
      </li>
    </ul>
  </div>
</div>
<br/>
<div class="row">
  <div id="var-tables" class="col-md-12">
    <!--
    # ----------------------------------------
    # Variáves nas Tabelas, Créditos e Contato
    # ----------------------------------------
    -->

    <h3>Lista das variáveis apresentadas nas tabelas</h3>

    <ul>
      <li><strong>SE:</strong> semana epidemiológica</li>
      <li><strong>temperatura:</strong>
        média das temperaturas mínimas da semana (em graus centígrados)
      </li>
      <li><strong>tweet:</strong>
        número de tweets indicativos de casos de dengue na cidade.
        Por enquanto só há para dengue.
      </li>
      <li><strong>casos notif:</strong>
        casos notificados de dengue, zika ou chikungunya</li>
      <li><strong>incidência:</strong>
        incidência por 100.000 habitantes
      </li>
      <li><strong>casos preditos:</strong>
        número de casos estimados após correção pelo atraso de notificação
      </li>
      <li><strong>ICmin:</strong>
        número mínimo de casos estimados (IC 95%)
      </li>
      <li><strong>ICmax:</strong>
        número máximo de casos estimados (IC 95%)
      </li>
      <li><strong>Rt:</strong>
        número reprodutivo efetivo (> 1 indica aumento de casos transmissão)
      </li>
      <li><strong>p(Rt1):</strong>
        probabilidade do número reprodutivo ser maior que 1
        (> 0.95 indica aumento significativo de casos)
      </li>
      <li><strong>nivel:</strong>
        cor do alerta (verde, amarelo, laranja, vermelho)</li>
    </ul>
  </div>
</div>

<div class="row">
  <div id="notes" class="col-md-12">
    <h3>Notas</h3>

    <ul>
      <li>Os dados do sinan mais recentes ainda não foram totalmente digitados.
        Estimamos o número esperado de casos notificados considerando o tempo
        até os casos serem digitados.
      </li>
      <li>Os dados de redes sociais são coletados e
        analisados pelo Observatório de Dengue (UFMG).
      </li>
      <li>Algumas vezes, os casos da última semana ainda não estao disponíveis,
        nesse caso, usa-se uma estimação com base na tendência de variação da
        série.
      </li>
    </ul>
  </div>
</div>

<div class="row">
  <div id="credits" class="col-md-12">
    <h3>Créditos</h3>

    Este foi um projeto desenvolvido com apoio da SVS/MS e é operado como
    parceira entre:

    <ul>
      <li>Programa de Computação Científica, Fundação Oswaldo Cruz, Rio de
        Janeiro.
      </li>
      <li>Escola de Matemática Aplicada, Fundação Getúlio Vargas.</li>
      <li>Secretaria Estadual de Saúde do {{state_name}}.</li>
      <li>Observatório de Dengue da UFMG.</li>
    </ul>
  </div>
</div>

<div class="row">
  <div id="contact" class="col-md-12">
    <h3>Contato</h3>
    Para mais detalhes sobre o sistema de alerta InfoDengue, consultar:
    <a href="http://info.dengue.mat.br">http://info.dengue.mat.br</a>
  </div>
</div>

<script>
  $(document).ready(function(){
    var cssClasses = {
      'verde': 'green-row',
      'amarelo': 'yellow-row',
      'laranja': 'orange-row',
      'vermelho': 'red-row'
    }

    $('.table tr').each(function(i, obj){
      $(this).addClass(cssClasses[$('td:last-child', this).text()]);
    });

    $('.datatables').DataTable({
      "pageLength": 4,
      "lengthMenu": [ 4, 8, 12 ],
      "order": [[ 0, "desc" ]],
      "searching": false,
      "language": {
        "url": "/static/libs/DataTables/i18n/pt_BR.json"
      }
    });

    $('.fade').addClass('tab-pane');
  });
</script>

{% endblock %}
