
{% extends 'base.html' %}
{% load lookup %}
{% load i18n %}
{% load static %}
{% load hashthis %}
{% load report_state %}

{% block extra_head %}

  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

  <link href="{% static '/css/components.css' %}" rel="stylesheet" type="text/css">

{% endblock %}

{% block breadcrumbs %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/report">{% trans "Relatórios" %}</a></li>
      <li class="breadcrumb-item"><a href="/report">{% trans "Estadual" %}</a></li>
      <li class="breadcrumb-item active"><a href="/report/{{ state }}/state">{{ state }}</a></li>
  </ol>
</nav>
{% endblock %}


{% block title %}
{% trans "Relatório Estadual da Situação das Arboviroses em " %}{{state_name}}
{% endblock %}

{% block content %}

<div class="row">
  <div class="col-md-12">

    <!--
    # ----------------------
    #	MAIN BODY - FIRST PAGE
    # ----------------------
    -->
    <p>
      {% trans "Semana epidemiológica" %} : {{ last_week }}/{{ last_year }}
    </p>
    <p>{% blocktrans %}
      Esse é o relatório resumido da situação de alerta de arboviroses no
      estado, detalhado por Regional de Saúde. Para acessar estatísticas
      gerais do estado, consulte a{% endblocktrans %}
      <a href="/alerta/{{ state }}/dengue" target="__blank__">{% trans "página de estados" %}</a>.
      {% trans "E para consultar um município específico, consulte a" %}
      <a href="/report/{{ state }}/city" target="__blank__">{% trans "página de relatórios municipais" %}</a>.
    </p>
  </div>
</div>

<!-- begin maps -->
<div class="container">
  <div class="row"
    style="background-color: #e0eefd63;
      border-radius: 14px;">

  </div>
</div>
<!-- end maps -->

<!-- begin colapse -->
<div class="container">
  <div class="row justify-content-center"
    style="background-color: #e0eefd63;
      margin-bottom: 20px;
      border-radius: 7px">
    <div class="col-md-12 p-1">
      <div class="card-primary">
          {% regional_collapse_component %}
      </div>
    </div>
  </div>
</div>
<!-- end collapse-->

<!-- begin color code -->
<div class="container">
  <div class="row p-1">
    <div class="col-md-12 p-2">

  </div>
</div>
<!-- end color code -->
{% endblock %}
