{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block extra_head %}
<link href="{% static '/css/report_styles.css' %}" rel="stylesheet"> <!-- or 'css/new_styles.css' -->
<script src="{% static '/js/report_type_script.js' %}" defer></script>
{% endblock %}

{% block breadcrumbs %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">
          <a href="/report">{% translate "Relatórios" %}</a>
      </li>
  </ol>
</nav>
{% endblock %}

{% block title %}{% translate "Relatórios" %}{% endblock %}

{% block content %}
<form id="form-report" onsubmit="return openReport();">
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label for="report-type">{% translate "Tipo de Relatório" %}:</label>
        <select id="report-type" class="form-control" required style="width:400px;">
          <option value="city">{% translate "Municipal" %}</option>
          <option value="state">{% translate "Estadual" %}</option>
        </select>
        <small id="report-typeHelp" class="form-text text-muted">
          {% translate "Selecione o tipo do relatório" %}
        </small>
      </div>

      <div class="form-group">
        <label for="state">{% translate "Unidade Federal" %}:</label>
        <select id="state" class="form-control" required style="width:400px;">
          <option value="">{% translate "Selecione uma Unidade Federal" %}</option>
          {{ options_states|safe }}
        </select>
        <small id="stateHelp" class="form-text text-muted">
          {% translate "Selecione a Unidade Federal desejada para a consulta" %}
        </small>
      </div>

      <div class="form-group">
        <button class="btn btn-primary" type="submit">
          {% translate "Abrir Relatório" %}
        </button>
      </div>
    </div>
  </div>
</form>
{% endblock %}
