{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block extra_head %}

<script>
  function openReport() {
    var epidate = $('#epidate').val();
    var url = '/api/epi_year_week?epidate=' + epidate;
 
    $.ajax({
        dataType: 'json',
        url: url,
        success: function(data) {
          window.location.href = (
            '/report/{{state}}/' +
            data['epi_year_week']
          );
        }
    });
 
    return false;
  }
 
</script>

<link href="{% static '/css/report_styles.css' %}" rel="stylesheet">

{% endblock %}

{% block breadcrumbs %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/report">{% translate "Relatórios" %}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{% translate "Estadual" %}</li>
    <li class="breadcrumb-item active" aria-current="page">{{ state }}</li>
  </ol>
</nav>
{% endblock %}

{% block title %}{% translate "Relatórios" %} / {{ state }}{% endblock %}

{% block content %}
<form id="form-report" onsubmit="return openReport();">
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label for="epidate">{% translate "Data da Semana Epidemiológica" %}</label>
        <input type="date" class="form-control" id="epidate" value="{{ date_query }}" aria-describedby="dateHelp" required style="width:200px;">
        <small id="dateHelp" class="form-text text-muted">
          {% translate "Selecione um dia da Semana Epidemiológica desejada" %}
        </small>
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">{% translate "Abrir Relatório" %}</button>
      </div>
    </div>
  </div>
</form>
{% endblock %}
