{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block extra_head %}
<meta property="og:image" content="{% static '/img/screenshot.png' %}"/>
<meta property="og:image:secure_url" content="{% static '/img/screenshot.png' %}"/>
<script src="{% static '/js/infodengue.js' %}" type="text/javascript"></script>
{% endblock %}

{% block title %}{% translate "Dados" %}: {% translate "Mapas" %}{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h3>{% translate "Serviço de mapas descontinuado" %}</h3>
            <p>{% translate "A infraestrutura legada de MapServer e GeoTIFF foi removida desta aplicação." %}</p>
            <p>{% translate "Os arquivos GeoJSON gerados pelo sistema continuam disponíveis para os fluxos ativos do site." %}</p>
            <p>{% translate "Para consumo programático dos dados públicos, utilize a API e os materiais de tutorial disponíveis nesta seção." %}</p>
            <p><a href="{% url 'dados:data_public_services' %}api">{% translate "Acessar API pública" %}</a></p>
            <p><a href="{% url 'dados:data_public_services' %}tutorial">{% translate "Acessar tutoriais" %}</a></p>
        </div>
    </div>
</div>
{% endblock %}
