{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load lookup %}

{% block extra_head %}
<meta property="og:image"
      content="http://info.dengue.mat.br/static/img/screenshot.png"/>
<meta property="og:image:secure_url"
      content="https://info.dengue.mat.br/static/img/screenshot.png"/>


<script src="/static/libs/bootstrap-select/bootstrap-select.min.js"
        type="text/javascript"></script>

<script src="/static/js/infodengue.js"
        type="text/javascript"></script>

<link href="/static/libs/bootstrap-select/bootstrap-select.min.css"
        type="text/css" rel="stylesheet" />


<style type="text/css">
    .form .col-head {
        text-align: right;
        font-weight: bold;
        vertical-align: middle;
    }

    .form .row {
        padding: 5px;
    }

    .word-break {
        word-break: break-all;
    }

    .hidden {
        display: none;
    }
</style>

<script>
    function geocode_search(val) {
        var cond = ':contains("' + val.toUpperCase() + '")';

        $('#geocode').prop('selectedIndex',0);

        $('#geocode option').not(cond).prop('disabled', true);
        $('#geocode option').not(cond).addClass('hidden');
        $('#geocode option' + cond).prop('disabled', false);
        $('#geocode option' + cond).removeClass('hidden');

        $('#geocode').prop(
            'selectedIndex',
            $('#geocode option' + cond).first().index()
        );
    }

    $(document).ready(function(){
        $("#geocode-search").on("input", function(e) {
          geocode_search($(e.target).val());
        });
    });
</script>

{% endblock %}

{% block breadcrumbs %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="/services">{% trans "Dados" %}</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        <a href='/services/api'>{% trans "API" %}</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">{{ services }}</li>
  </ol>
</nav>
{% endblock %}

{% block title %}{% trans "API" %}{% endblock %}

{% block content %}


<form onsubmit="return download();">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <a href="{% url 'dados:data_public_services' %}api/doc">
                    {% trans "Para mais informações, acesse a documentação do serviço da API." %}
                </a>
            </div>

            <div class="form-group">
                <label for="geocode-search">{% trans "Filtro Município (código IBGE, nome do município ou U.F.)" %}:</label>

                <input id="geocode-search" type="text" maxlength="30"
                       class="form-control  input-sm"
                       placeholder='{% trans "Digite aqui o filtro desejado para a consulta de municípios" %}'
                       aria-describedby="geocode-searchHelp"
                />

                <small id="geocode-searchHelp" class="form-text text-muted">
                  {% trans "Digite o código IBGE, nome do município ou U.F. para buscar o município desejado." %}
                </small>
            </div>

            <div class="form-group">
                <label for="geocode">{% trans "Município" %}:</label>

                <select id="geocode"
                        class="form-control"
                        data-live-search="true"
                        data-title="{% blocktrans %}Selecione municipio(s){% endblocktrans %}"
                        data-actions-box="true"
                        data-selected-text-format="static"
                        aria-describedby="geocodeHelp"
                        required="required"
                >
                    <option value="">{% trans "Selecione o município desejado" %}</option>
                    {{options_cities|safe}}
                </select>

                <small id="geocodeHelp" class="form-text text-muted">
                  {% trans "Selecione o município desejado para a consulta" %}
                </small>
            </div>

            <div class="form-group">
                <label for="epidate_start">{% trans "Data da Semana Epidemiológica de início da consulta" %}</label>
                <input type="date" class="form-control"
                       id="epidate_start"
                       value="{{date_query_start}}"
                       aria-describedby="date_startHelp"
                       required="required" style="width:200px;">
                <small id="date_startHelp" class="form-text text-muted">
                  {% trans "Selecione um dia da Semana Epidemiológica de início da consulta" %}
                </small>
            </div>

            <div class="form-group">
                <label for="epidate_end">{% trans "Data da Semana Epidemiológica de término da consulta" %}</label>
                <input type="date" class="form-control"
                       id="epidate_end"
                       value="{{date_query_end}}"
                       aria-describedby="date_endHelp"
                       required="required" style="width:200px;">
                <small id="date_endHelp" class="form-text text-muted">
                  {% trans "Selecione um dia da Semana Epidemiológica de término da consulta" %}
                </small>
            </div>

            <div class="form-group">
                <label for="disease">{% trans "Arbovirose" %}</label>
                <select id="disease"
                        class="form-control"
                        aria-describedby="diseaseHelp"
                        required="required"
                >
                    <option value="dengue" selected="selected">Dengue</option>
                    <option value="chikungunya">Chikungunya</option>
                    <option value="zika">Zika</option>
                </select>
                <small id="diseaseHelp" class="form-text text-muted">
                  {% trans "Selecione a arbovirose para a consulta" %}
                </small>
            </div>

            <div class="form-group">
                <label for="format">{% trans "Data da Semana Epidemiológica de término da consulta" %}</label>
                <select id="format"
                        class="form-control"
                        aria-describedby="formatHelp"
                >
                    <option value="csv" selected="selected">CSV</option>
                    <option value="json">JSON</option>
                </select>
                <small id="formatHelp" class="form-text text-muted">
                  {% trans "Selecione o formato do arquivo de saída" %}
                </small>
            </div>

            <div class="row">
                <div class="col-md-12 column py-3" id="message-url">
                </div>
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-primary"
                       value='{% trans "Download" %}'
                />

            <a class="btn btn-primary" data-toggle="collapse" href="#expan_dict" role="button" aria-expanded="false" aria-controls="expan_dict">
                {% trans "Mostrar Dicionário de Dados" %}
            </a>
            </div>
            <div class="collapse" id="expan_dict">
            <div class="card card-body">

                <h5><b>{% trans "Dicionário de Dados" %}</b></h5>
                <ul>
                <p><li><b>{% trans "data_ini_SE" %}</b> : {% trans "Primeiro dia da semana epidemiológica (Domingo)" %}</p></li>
                <p><li><b>{% trans "SE" %}</b>: {% trans "Semana epidemiológica" %}</p></li>
                <p><li><b>{% trans "casos_est" %}</b> : {% trans "Número estimado de casos por semana usando o modelo de nowcasting (nota: Os valores são atualizados retrospectivamente a cada semana)" %}</p></li>
                <p><li><b>{% trans "cases_est_min and cases_est_max" %}</b>: {% trans "Intervalo de credibilidade de 95% do número estimado de casos" %}</p></li>
                <p><li><b>{% trans "casos" %}</b>: {% trans "Número de casos notificados por semana (Os valores são atualizados retrospectivamente todas as semanas)" %}</p></li>
                <p><li><b>{% trans "p_rt1" %}</b>: {% trans "Probabilidade de (Rt> 1). Para emitir o alerta laranja, usamos o critério p_rt1> 0,95 por 3 semanas ou mais." %}</p></li>
                <p><li><b>{% trans "p_inc100k" %}</b>: {% trans "Taxa de incidência estimada por 100.000" %}</p></li>
                <p><li><b>{% trans "Localidade_id" %}</b>: {% trans "Divisão submunicipal (atualmente implementada apenas no Rio de Janeiro)" %}</p></li>
                <p><li><b>{% trans "nivel" %}</b>: {% trans "Nível de alerta (1 = verde, 2 = amarelo, 3 = laranja, 4 = vermelho), mais detalhes, consulte (Saiba mais)" %}</p></li>
                <p><li><b>{% trans "id" %}</b>: {% trans "Índice numérico" %}</a></p></li>
                <p><li><b>{% trans "versao_modelo" %}</b>: {% trans "Versão do modelo (uso interno)" %}</p></li>
                <p><li><b>{% trans "tweet" %}</b>: {% trans "Número de mensagens mencionando sintomas de dengue em tweets geolocalizados. Fonte: Observatório da Dengue / UFMG" %}</p></li>
                <p><li><b>{% trans "Rt" %}</b>: {% trans "Estimativa pontual do número reprodutivo de casos, ver " %}<a href="/informacoes/">{% trans "Saiba Mais" %}</a></p></li>
                <p><li><b>{% trans "pop" %}</b>: {% trans "População estimada (IBGE)" %}</p></li>
                <p><li><b>{% trans "tempmin" %}</b>: {% trans "Média das temperaturas mínimas diárias ao longo da semana" %}</p></li>
                <p><li><b>{% trans "tempmed" %}</b>: {% trans "Média das temperaturas diárias ao longo da semana" %}</p></li>
                <p><li><b>{% trans "tempmax" %}</b>: {% trans "Média das temperaturas máximas diárias ao longo da semana" %}</p></li>
                <p><li><b>{% trans "umidmin" %}</b>: {% trans "Média da umidade relativa mínima diária do ar ao longo da semana" %}</p></li>
                <p><li><b>{% trans "umidmed" %}</b>: {% trans "Média da umidade relativa diária do ar ao longo da semana" %}</p></li>
                <p><li><b>{% trans "umidmax" %}</b>: {% trans "Média da umidade relativa máxima diária do ar ao longo da semana" %}</p></li>
                <p><li><b>{% trans "receptivo" %}</b>: {% trans "Indica receptividade climática, ou seja, condições para alta capacidade vetorial. 0 = desfavorável, 1 = favorável, 2 = favorável nesta semana e na semana passada, 3 = favorável por pelo menos três semanas (suficiente para completar um ciclo de transmissão)" %}</p></li>
                <p><li><b>{% trans "transmissao" %}</b>: {% trans "Evidência de transmissão sustentada: 0 = nenhuma evidência, 1 = possível, 2 = provável, 3 = altamente provável" %}</p></li>
                <p><li><b>{% trans "nivel_inc" %}</b>: {% trans "Incidência estimada abaixo do limiar pré-epidemia, 1 = acima do limiar pré-epidemia, mas abaixo do limiar epidêmico, 2 = acima do limiar epidêmico" %}</p></li>
                <p><li><b>{% trans "notif_accum_year" %}</b>: {% trans "Número acumulado de casos no ano" %}</p></li>
                </ul>

            </div>
            </div>
        </div>
    </div>
</form>

<script>
    var epiYearStart;
    var epiWeekStart;
    var epiYearEnd;
    var epiWeekEnd;

    function getEpiYearWeek(epidate, func) {
        var url = '/api/epi_year_week?epidate=' + epidate;

        $.ajax({
          dataType: 'json',
          url: url,
          success: function(data) {
            func(data)
          }
        });
    }

    function download() {
        getEpiYearWeek(
            $('#epidate_start').val(),
            function(result) {
                epiYearStart = result['epi_year'];
                epiWeekStart = result['epi_week'];

                getEpiYearWeek(
                    $('#epidate_end').val(),
                    function(result) {
                        epiYearEnd = result['epi_year'];
                        epiWeekEnd= result['epi_week'];

                        downloadOpen();
                    }
                );
            }
        );

        return false;
    }

    function downloadOpen() {
        var url = (
            '{% url 'api:alertcity'%}/?' +
            'geocode=<geocode>&' +
            'disease=<disease>&' +
            'format=<format>&'+
            'ew_start=<ew_start>&' +
            'ey_start=<ey_start>&' +
            'ew_end=<ew_end>&' +
            'ey_end=<ey_end>'
        );

        var geocode = $('#geocode option:selected').val();

        url = url.replace('<geocode>', geocode);
        url = url.replace('<disease>', $('#disease option:selected').val());
        url = url.replace('<format>', $('#format option:selected').val());
        url = url.replace('<ew_start>', epiWeekStart);
        url = url.replace('<ey_start>', epiYearStart);
        url = url.replace('<ew_end>', epiWeekEnd);
        url = url.replace('<ey_end>', epiYearEnd);

        window.open(url, '_blank');
    }



</script>
{% endblock %}
