{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load lookup %}

{% block extra_head %}
    {% load leaflet_tags %}
    {% load alert_state %}
    {% leaflet_js %}
    {% leaflet_css %}
    {% leaflet_js plugins="ALL" %}

    <meta property="og:image"
          content="http://info.dengue.mat.br/static/img/screenshot.png"/>
    <meta property="og:image:secure_url"
          content="https://info.dengue.mat.br/static/img/screenshot.png"/>
    <script src="/static/js/Autolinker.min.js" type="text/javascript"></script>
    <script src="/static/js/jquery.sparkline.min.js"
            type="text/javascript"></script>
    <script src="/static/libs/highstock/code/highstock.js"
            type="text/javascript"></script>
    <script src="/static/libs/highstock/code/modules/exporting.js"
            type="text/javascript"></script>
    <script src="/static/libs/highstock/code/modules/data.js"
            type="text/javascript"></script>

    <script src="/static/js/infodengue.js"
            type="text/javascript"></script>

    <style type="text/css">
        #main {
            width: 100%;
            height: 400px;
        }
        .info {
            padding: 6px 8px;
            font: 14px/16px Arial, Helvetica, sans-serif;
            background: white;
            background: rgba(255, 255, 255, 0.8);
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
            border-radius: 5px;
        }

        .info h6 {
            margin: 0 0 5px;
            color: #777;
        }
        .legend {
            text-align: left;
            line-height: 18px;
            color: #555;
        }
        .legend i {
            width: 18px;
            height: 18px;
            float: left;
            margin-right: 8px;
            opacity: 0.7;
        }

        #disease-chart {
            height: 200px;
        }

        #date-chart {
            height: 175px;
        }

        #age-chart,
        #gender-chart{
            height: 110px;
        }
    </style>

    <script type="text/javascript">
        function removeFilter(fieldName1, fieldName2) {
            $('#' + fieldName1).val('');
            if (fieldName2 != undefined) {
                $('#' + fieldName2).val('');
            }
            $('#formFilters').submit();
        }
    </script>

{% endblock %}
{% block title %}{{state}}{% endblock %}

{% block content %}

<form id="formFilters">
    <input type="hidden"
           id="initial_date" name="initial_date" value="{{initial_date}}"/>
    <input type="hidden"
           id="final_date" name="final_date" value="{{final_date}}"/>
    <input type="hidden"
           id="disease" name="disease" value="{{disease}}"/>
    <input type="hidden"
           id="gender" name="gender" value="{{gender}}"/>
    <input type="hidden"
           id="age" name="age" value="{{age}}"/>
</form>

<div class="container-fluid">
    <!-- chart-plot:begin -->
    <div class="row">
        <div class="col-sm-5">
            <div class="row">
                <div class="col-sm-12">
                    <div class="chart-wrapper">
                      <div class="chart-stage">
                          {% disease_chart %}
                      </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="chart-wrapper">
                      <div class="chart-stage">
                          {% map_chart %}
                      </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-7">
            <div class="row">
                <div class="col-sm-12">
                    <div class="chart-wrapper">
                      <div class="chart-title content-inline">
                          <h2>{{ total_reg_filter }}</h2> casos selecionados de
                          <h2>{{ total_reg }}</h2>
                      </div>
                      <div class="chart-stage">
                          <small>
                              {{ filters_description | safe}}
                              {% if not filters_description == '' %}
                              | <a href="/alerta/{{state_abv}}/">Limpar filtros</a>
                              {% else %}
                              Nenhum filtro informado
                              {% endif %}
                          </small>
                      </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="chart-wrapper">
                      <div class="chart-title content-inline">
                          <input type="button" id="filter_date"
                                 value="Aplicar filtro por período"
                                 onclick="sendPeriodSelected()"
                          />
                      </div>
                      <div class="chart-stage">
                          {% date_chart %}
                      </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="chart-wrapper">
                      <div class="chart-stage">
                          {% age_chart %}
                      </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="chart-wrapper">
                      <div class="chart-stage">
                          {% gender_chart %}
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
