<div id="historico-chart_{{disease}}"
     style="height: 400px; margin: 10px">
</div>

<script type="application/ecmascript">
$(function () {
    //var nd_{{disease}} = new Date();
    //var tzo_{{disease}} = nd_{{disease}}.getTimezoneOffset();
    // Agora as series de dados
    var dados_{{disease}} = {{ series_est |safe }};

    var chart_{{disease}} = Highcharts.stockChart({
        chart: {
            renderTo: "historico-chart_{{disease}}",
            zoomType: 'xy'
        },
        title: {
            text: 'Casos de {{disease_label}} nos municípios monitorados'
        },
        xAxis: [{
            type: 'date',
        }],
        yAxis: [{ // first yAxis
            gridLineWidth: 1,
            //type: "linear",
            title: {
                text: 'Casos',
                style: {
                    color: '#4572A7'
                }
            },
            labels: {
                formatter: function () {
                    return this.value;// + ' casos';
                },
                style: {
                    color: '#4572A7'
                }
            }
        }],
        tooltip: {
            shared: true
        },
        legend: {
            enabled: true,
            layout: 'vertical',
            align: 'left',
            x: 120,
            verticalAlign: 'top',
            y: 80,
            floating: true,
            backgroundColor: '#FFFFFF'
        },
        series: [
        {% for uf in ufs %}
            {
                name: '{{ uf }}',
                type: 'spline',
                animation: true,
                //color: '#4572A7',
{#              pointInterval: 7 * 24 * 3600 * 1000,#}
{#              pointStart: {{ start }} * 1000 + tzo_{{disease}},#}
                yAxis: 0,
                data: dados_{{disease}}["{{ uf }}"],
                marker: {enabled: true},
                dashStyle: 'Solid',
                tooltip: { valueSuffix: ' casos estimados' }
            },
        {% endfor %}
        ]
    });

    hideZoomBar(chart_{{disease}});
});

</script>
