{% load i18n %}
{% load leaflet_tags %}
{% load lookup %}
{% load static %}

{% leaflet_map "map_zika" callback="main_map_init_zika" %}

<script type="text/javascript">

    var _filter_city_zika;

    var mun_dict_zika = {{ mun_dict|lookup:'zika'|safe }};
    var alerta_zika = {{ alerts_level|lookup:'zika'|safe }};
    var case_series_zika = {{ case_series|lookup:'zika'|safe }};
    var recomendacoes_zika;

    var municipios_zika = L.featureGroup();
    var geo_ids_zika = {{ geo_ids|lookup:'zika' }};

    var features_zika = L.layerGroup();
    var info_zika = L.control();
    var legend_zika = L.control({position: 'bottomright'});
    var alertLevels_zika = [
        {name: '{% blocktrans %}Baixo Risco{% endblocktrans %}', color: '#0D6B0D'},
        {name: '{% blocktrans %}Atenção{% endblocktrans %}', color: '#C8D20F'},
        {name: '{% blocktrans %}Transmissão{% endblocktrans %}', color: '#E45205'},
        {name: '{% blocktrans %}Epidemia{% endblocktrans %}', color: '#FF0205'},
    ];

    $('.totalsparkline').sparkline('html', {
        type: 'bar',
        width: "auto",
        heigth: "auto",
        barWidth: "15px",
        barColor: "White",
        tooltipSuffix: " casos"
    });

    function style_zika(feature) {
        var i = +feature.properties.alerta || 0;
        return {
            weight: 1,
            opacity: 0.9,
            color: 'white',
            dashArray: '3',
            fillOpacity: 0.9,
            fillColor: alertLevels_zika[i].color
        };
    }

    function selected_style_zika(feature) {
        var i = +feature.properties.alerta || 0;
        return {
            weight: 2,
            opacity: 0.9,
            color: 'white',
            dashArray: '3',
            fillOpacity: 0.9,
            fillColor: alertLevels_zika[i].color
        };
    }

    function highlightFeature_zika(e) {
        var layer = e.target;

        if (!L.Browser.ie && !L.Browser.opera) {
            layer.bringToFront();
        }
        info_zika.update(layer.feature.properties);

        renderSparkline_zika(e);

        layer.bringToBack()
    }

    function resetHighlight_zika(e) {
        info_zika.update();
    }

    function renderSparkline_zika(e) {
        $('.inlinesparkline').sparkline('html', {
            type: 'bar',
            width: "14em",
            heigth: "5em",
            barWidth: "9em",
            tooltipSuffix: " casos"
        });
    }

    function main_map_init_zika(map, options) {
        $(document).data('map', map);

        map.setView(
            new L.latLng(
                {{map_center|lookup:0|safe}}, {{map_center|lookup:1|safe}}
            ), {{map_zoom}}
        );

        recomendacoes_zika = {
            0: "Hora de arrumar o quintal, cobrir caixas d'água, <a " +
               "href='http://www.riocontrazika.rj.gov.br/Site/Conteudo" +
               "/Eliminar.aspx'>Não deixe criadouros para o mosquito!</a>",
            1: 'Uma vez por semana, aplique os <a href="http://www.' +
               'riocontrazika.com.br/Site/Conteudo/Checklist.aspx">' +
               '“10 minutos Contra a zika”!</a>',
            2: 'Fique <a href="http://www.riocontrazika.rj.gov.br/Site' +
               '/Conteudo/FiqueAtento.aspx">atento aos sintomas da Zika!' +
               '</a> Procure um médico caso suspeite de zika.',
            3: 'Fique <a href="http://www.riocontrazika.rj.gov.br/Site' +
               '/Conteudo/FiqueAtento.aspx">atento aos sintomas da Zika!' +
               '</a> Procure um médico caso suspeite de zika.'
        };

        // control that shows state info on hover

        info_zika.onAdd = function (map) {
            this._div = L.DomUtil.create('div', 'info');
            this.update();
            return this._div;
        };

        info_zika.update = function (props) {
            this._div.innerHTML = '' +
                '<h6>{% blocktrans %}Alerta Zika{% endblocktrans %}:</h6>' +
                (props ?
                 '<b>'+ props.nome + '</b><br />' :
                 '{% blocktrans %}Passe o mouse sobre o mapa{% endblocktrans %}');
        };

        info_zika.addTo(map);

        legend_zika.onAdd = function () {
            var div = L.DomUtil.create('div', 'info legend'),
                    labels = alertLevels_zika.map(function (alertLevel) {
                        return '<i style="background:' + alertLevel.color +
                            ';"></i> ' + alertLevel.name;
                    }).reverse();
            labels.push('O: {% blocktrans %}Unidades de Saúde{% endblocktrans %}');
            div.innerHTML = labels.join('<br/>');
            return div;
        };

        legend_zika.addTo(map);

        function fill_details_zika(feature, layer){
            geo_id = parseInt(feature.properties.geocodigo);

            feature.properties.alerta = alerta_zika[geo_id];

            if (Object.keys(case_series_zika).length > 0) {
                feature.properties.series = case_series_zika[geo_id];
                feature.properties.casos = (
                    case_series_zika[geo_id][case_series_zika[geo_id].length -1]
                );
            } else {
                feature.properties.series = [];
                feature.properties.casos = null;
            }

            layer.setStyle(selected_style_zika(feature))
            layer.on({
                mouseover: highlightFeature_zika,
                mouseout: resetHighlight_zika,
            });
        };

        for (var i=0; i < geo_ids_zika.length; i++){
            var gc = geo_ids_zika[i];
            $.getJSON('{% static "/geojson_simplified/" %}' + gc.toString() + '.json', function(data){
                geojson = L.geoJson(
                    data, {style: selected_style_zika,
                           onEachFeature: fill_details_zika}
                );
                municipios_zika.addLayer(geojson, true);
            });
        };

        municipios_zika.addTo(map);

        var overlayMaps = {
            'Municípios': municipios_zika
        };

        var controls_zika = L.control.layers(null, overlayMaps, {collapsed: true});

        controls_zika.addTo(map);

        map.touchZoom.disable();
        map.doubleClickZoom.disable();
        map.boxZoom.disable();
        map.keyboard.disable();
        map.touchZoom.disable();
        map.doubleClickZoom.disable();

    }
</script>