{% load i18n %}
{% load leaflet_tags %}
{% load lookup %}
{% load static %}

{% leaflet_map "map_chik" callback="main_map_init_chik" %}

<script type="text/javascript">

    var _filter_city_chik;

    var mun_dict_chik = {{ mun_dict|lookup:'chik'|safe }};
    var alerta_chik = {{ alerts_level|lookup:'chik'|safe }};
    var case_series_chik = {{ case_series|lookup:'chik'|safe }};
    var recomendacoes_chik;

    var municipios_chik = L.featureGroup();
    var geo_ids_chik = {{ geo_ids|lookup:'chik' }};

    var features_chik = L.layerGroup();
    var info_chik = L.control();
    var legend_chik = L.control({position: 'bottomright'});
    var alertLevels_chik = [
        {name: '{% blocktranslate %}Baixo Risco{% endblocktranslate %}', color: '#0D6B0D'},
        {name: '{% blocktranslate %}Atenção{% endblocktranslate %}', color: '#C8D20F'},
        {name: '{% blocktranslate %}Transmissão{% endblocktranslate %}', color: '#E45205'},
        {name: '{% blocktranslate %}Atividade Aumentada{% endblocktranslate %}', color: '#FF0205'},
    ];

    $('.totalsparkline').sparkline('html', {
        type: 'bar',
        width: "auto",
        heigth: "auto",
        barWidth: "15px",
        barColor: "White",
        tooltipSuffix: " casos"
    });

    function style_chik(feature) {
        var i = +feature.properties.alerta || 0;
        return {
            weight: 1,
            opacity: 0.9,
            color: 'white',
            dashArray: '3',
            fillOpacity: 0.9,
            fillColor: alertLevels_chik[i].color
        };
    }

    function selected_style_chik(feature) {
        var i = +feature.properties.alerta || 0;
        return {
            weight: 2,
            opacity: 0.9,
            color: 'white',
            dashArray: '3',
            fillOpacity: 0.9,
            fillColor: alertLevels_chik[i].color
        };
    }

    function highlightFeature_chik(e) {
        var layer = e.target;

        if (!L.Browser.ie && !L.Browser.opera) {
            layer.bringToFront();
        }
        info_chik.update(layer.feature.properties);

        renderSparkline_chik(e);

        layer.bringToBack()
    }

    function resetHighlight_chik(e) {
        info_chik.update();
    }

    function renderSparkline_chik(e) {
        $('.inlinesparkline').sparkline('html', {
            type: 'bar',
            width: "14em",
            heigth: "5em",
            barWidth: "9em",
            tooltipSuffix: " casos"
        });
    }

    function main_map_init_chik(map, options) {
        $(document).data('map', map);

        map.setView(
            new L.latLng(
                {{map_center|lookup:0|safe}}, {{map_center|lookup:1|safe}}
            ), {{map_zoom}}
        );

        recomendacoes_chik = {
            0: "Hora de arrumar o quintal, cobrir caixas d'água, <a " +
               "href='http://www.riocontrachik.rj.gov.br/Site/Conteudo" +
               "/Eliminar.aspx'>Não deixe criadouros para o mosquito!</a>",
            1: 'Uma vez por semana, aplique os <a href="http://www.' +
               'riocontrachik.com.br/Site/Conteudo/Checklist.aspx">' +
               '“10 minutos Contra a chik”!</a>',
            2: 'Fique <a href="http://www.riocontrachik.rj.gov.br/Site' +
               '/Conteudo/FiqueAtento.aspx">atento aos sintomas da Chikungunya!' +
               '</a> Procure um médico caso suspeite de chik.',
            3: 'Fique <a href="http://www.riocontrachik.rj.gov.br/Site' +
               '/Conteudo/FiqueAtento.aspx">atento aos sintomas da Chikungunya!' +
               '</a> Procure um médico caso suspeite de chik.'
        };

        // control that shows state info on hover

        info_chik.onAdd = function (map) {
            this._div = L.DomUtil.create('div', 'info');
            this.update();
            return this._div;
        };

        info_chik.update = function (props) {
            this._div.innerHTML = '' +
                '<h6>{% blocktranslate %}Alerta Chikungunya{% endblocktranslate %}:</h6>' +
                (props ?
                 '<b>'+ props.nome + '</b><br />' :
                 '{% blocktranslate %}Passe o mouse sobre o mapa{% endblocktranslate %}');
        };

        info_chik.addTo(map);

        legend_chik.onAdd = function () {
            var div = L.DomUtil.create('div', 'info legend'),
                    labels = alertLevels_chik.map(function (alertLevel) {
                        return '<i style="background:' + alertLevel.color +
                            ';"></i> ' + alertLevel.name;
                    }).reverse();
            labels.push('O: {% blocktranslate %}Unidades de Saúde{% endblocktranslate %}');
            div.innerHTML = labels.join('<br/>');
            return div;
        };

        legend_chik.addTo(map);

        function fill_details_chik(feature, layer){
            geo_id = parseInt(feature.properties.geocodigo);

            feature.properties.alerta = alerta_chik[geo_id];

            if (Object.keys(case_series_chik).length > 0) {
                feature.properties.series = case_series_chik[geo_id];
                feature.properties.casos = (
                    case_series_chik[geo_id][case_series_chik[geo_id].length -1]
                );
            } else {
                feature.properties.series = [];
                feature.properties.casos = null;
            }

            layer.setStyle(selected_style_chik(feature))
            layer.on({
                mouseover: highlightFeature_chik,
                mouseout: resetHighlight_chik,
            });
        };

        for (var i=0; i < geo_ids_chik.length; i++){
            var gc = geo_ids_chik[i];
            $.getJSON('{% static "/geojson_simplified/" %}' + gc.toString() + '.json', function(data){
                geojson = L.geoJson(
                    data, {style: selected_style_chik,
                           onEachFeature: fill_details_chik}
                );
                municipios_chik.addLayer(geojson, true);
            });
        };

        municipios_chik.addTo(map);

        var overlayMaps = {
            'Municípios': municipios_chik
        };

        var controls_chik = L.control.layers(null, overlayMaps, {collapsed: true});

        controls_chik.addTo(map);

        map.touchZoom.disable();
        map.doubleClickZoom.disable();
        map.boxZoom.disable();
        map.keyboard.disable();
        map.touchZoom.disable();
        map.doubleClickZoom.disable();

    }
</script>
