/* about_styles.css */
.video-container {
    overflow: hidden;
    position: relative;
    width:50%;
}

.video-container::after {
    padding-top: 56.25%;
    display: block;
    content: '';
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.about-section-header {
  background-color: #058ED0;
  background-image: linear-gradient(135deg, #058ED0 0%, #003E7E 100%);
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
