.align-title {
    text-align: center;
}

.align-buttom {
    text-align: center;
    opacity: 0.6;
    font-family: Helvetica Neue;
}

@media ( min-width: 543px) {
    .align-title {
        text-align: left;
    }
    .align-buttom {
        text-align: right;
        opacity: 0.9;
        font-family: Helvetica Neue;
    }
}

.collapse-style {
    background-color: #469ad3;
    font-weight: large;
    font-size: large;
    line-height: 10px;
    padding: 10px;
    white-space: nowrap;
    border: 5px solid #fff;
    border: 0px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    color: #fff;
}

.collapse-effect {
    transition-duration: 0.4s;
    background-color: #469ad3;
    border: none;
    color: white;
    width: 100%;
}

.collapse-effect:hover {
    background-color: #469ad3;
    color: #c5ced3;
    border: none;
    display: block;
}

.collapse-effect:active {
    outline: none;
    border: none;
}

.collapse-effect span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.collapse-effect span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.collapse-effect:hover span {
    padding-right: 25px;
}

.collapse-effect:hover span:after {
    opacity: 1;
    right: 0;
}

*:focus {
    outline: none !important
}

.link_style:link {
    color: white;
    background-color: transparent;
    text-decoration: true;
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
}

.link_style:visited {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    color: orange;
    background-color: transparent;
    text-decoration: none;
}

.link_style:hover {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    color: light-grey;
    background-color: transparent;
    text-decoration: none;
}

.link_style:active {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    color: green;
    background-color: transparent;
    text-decoration: none;
}

.carousel-indicators li {
    margin-bottom: -100px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 1px 2px;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    border: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: .5;
    transition: opacity .6s ease;
    filter: invert(1);
}

.nav-tabs .nav-item .nav-link {
    background-color: white;
    color: #0080FF;
}

.nav-tabs .nav-item .nav-link.active {
    background-color: #e0eefd63;
    color: #495057;
}

.nav-tabs .nav-item .nav-link.disabled {
    color: #DBDBDB;
    pointer-events: none;
    cursor: copy;
}

.tab-content {
    border: 1px solid #e0eefd63;
    border-top: transparent;
    padding: 10px;
}

.tab-content .tab-pane {
    background-color: #e0eefd63;
    color: #0080FF;
    min-height: 200px;
    height: auto;
}
