/* footer.css */
.iframe-infodengue {
    padding: 20px;
    width: 100%;
    background-color: #2e94d7f6;
    text-align: center;
}

.logo {
    width: 50%;
}

.footer {
    /* padding: 50px 0px; */
    margin-left: 35px;
}
