.align-title {
    text-align: center;
}

.align-buttom {
    text-align: center;
    opacity: 0.6;
    font-family: Helvetica Neue;
}

@media (min-width: 543px) {
    .align-title {
        text-align: left;
    }

    .align-buttom {
        text-align: right;
        opacity: 0.9;
        font-family: Helvetica Neue;
    }
}

*:focus {
    outline: none !important
}

.tooltip-charts {
    position: absolute !important;
    top: calc(100% - 50px) !important;
    left: calc(100% - 50px) !important;
}

.tooltip-stack.tooltip.show p {
    text-align: left;
}

.nav-tabs .nav-item .nav-link {
    background-color: #ffffff44;
    color: #0080FF;
}

.nav-tabs .nav-item .nav-link.active {
    background-color: #b5b5b50d;
    color: #495057;
}

.nav-tabs .nav-item .nav-link.disabled {
    color: #363636ff;
    pointer-events: none;
    cursor: copy;
}
