.navbar-default .navbar-nav> li > a{
    color: #FFFFFF;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
color: #003E7E;  /*Sets the text hover color on navbar*/
}

h1 {
    color: #003E7E;
}

.parceiros {
    margin-top: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.panel-verde {
    border-color: #519452;
    border-width: medium;
    background-color: #519452;
}

.panel-amarelo {
    border-color: #D4DC53;
    border-width: medium;
    background-color: #D4DC53;
}

.panel-laranja {
    border-color: #E8824C;
    border-width: medium;
    background-color: #E8824C;
}

.panel-vermelho {
    border-color: #FB4A4C;
    border-width: medium;
    background-color: #FB4A4C;
}

.navbar-custom {
    color: #FFFFFF;
    background-color: #058ED0;
}

.bluebox {
    color: #FFFFFF;
    background-color: #058ED0;
    display: table-cell;
    margin-left: 15px;

}
.boxrow{
    display: table-row;
    overflow: hidden;
}

.col-md-3.bluebox {
    width: 23%;
}

.col-md-6.bluebox {
    width: 50%;
}

.col-md-2 {
    alignment: center;
}

.logos {
    -webkit-filter: grayscale(100%);
       -moz-filter: grayscale(100%);
         -o-filter: grayscale(100%);
        -ms-filter: grayscale(100%);
            filter: grayscale(100%);
}


.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}

.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}

.bs-callout p:last-child {
    margin-bottom: 0;
}

.bs-callout code {
    border-radius: 3px;
}

.bs-callout + .bs-callout {
    margin-top: -5px;
}

.bs-callout-default {
    border-left-color: #777;
}

.bs-callout-default h4 {
    color: #777;
}

.bs-callout-primary {
    border-left-color: #428bca;
}

.bs-callout-primary h4 {
    color: #428bca;
}

.bs-callout-success {
    border-left-color: #5cb85c;
}

.bs-callout-success h4 {
    color: #5cb85c;
}

.bs-callout-danger {
    border-left-color: #d9534f;
}

.bs-callout-danger h4 {
    color: #d9534f;
}

.bs-callout-warning {
    border-left-color: #f0ad4e;
}

.bs-callout-warning h4 {
    color: #f0ad4e;
}

.bs-callout-info {
    border-left-color: #5bc0de;
}

.bs-callout-info h4 {
    color: #5bc0de;
}

.tt-menu {
    display: block;
    clear: both;
    font-weight: normal;
    line-height: 20px;
    color: #333333;
    white-space: nowrap;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
       -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
            box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-selectable {
    padding: 8px 20px;
}

.tt-cursor {
    background-color: #ccc;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
       -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
            box-shadow: 0 5px 10px rgba(0,0,0,.2);
}
