  .uf-maps-row {
      display: flex;
      justify-content: center;
  }

  .uf-maps-wrapper {
      max-width: 960px;
      width: 100%;
      margin: 0 auto;
  }

  .uf-map-col {
      display: flex;
      justify-content: center;
  }

  .uf-map-img {
      width: 115%;
      max-width: 115%;
      height: auto;
  }

  @media (max-width: 767.98px) {
      .uf-maps-wrapper {
          padding: 0 0.5rem;
      }

      .uf-map-img {
          width: 100%;
          max-width: 100%;
      }
  }
