

{% load lookup %}

{% load hashthis %}

<style>
  .iframe-infodengue{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 10;
    background-color: #469ad3;
    text-align: center;
  }
  </style>

<!-- Start Component -->
{% block githubsponsor_component %}

  <iframe
      class="iframe-infodengue"
      src="https://github.com/sponsors/AlertaDengue/card"
      title="Sponsor AlertaDengue" align="middle" allowtransparency="true"
      frameborder="0">
  </iframe>


{% endblock %}
