name: build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  ADMINS: Dev:dev@example.com
  ALLOWED_HOSTS: "localhost"
  DEBUG: False
  ENV: dev
  DJANGO_PORT: 8000
  HOST_UID: 1001
  HOST_GID: 1001
  SECRET_KEY: my-secret-key

  EMAIL_CONFIG: ${{ secrets.EMAIL_CONFIG }}
  EMAIL_CONNECTION_DEFAULT: "outlook"
  EMAIL_HOST: "smtp.gmail.com"
  EMAIL_HOST_PASSWORD: ${{ secrets.EMAIL_HOST_PASSWORD }}
  EMAIL_HOST_USER: ${{ secrets.EMAIL_HOST_USER }}
  EMAIL_PORT: 587
  EMAIL_BACKEND: django.core.mail.backends.console.EmailBackend
  MEMCACHED_HOST: "localhost"
  MEMCACHED_PORT: 11211
  QUERY_CACHE_TIMEOUT: 86400

  POSTGRES_USER: postgres
  PSQL_DB: dengue
  PSQL_DBF: infodengue
  PSQL_HOST: postgres
  PSQL_PASSWORD: infodenguedev
  PSQL_PORT: 25432
  PSQL_USER: infodenguedev
  PSQL_DEV_USER: infodenguedev
  PSQL_DEV_PASSWORD: infodenguedev

  PG_RESTORE_STAGING: schemas
  PG_DATA_DEV: "/home/runner/storage/postgres_data_dev"
  PG_DATA_PROD: "/home/runner/storage/postgres_data_prod"
  PG_DATA_STAGING: "/home/runner/storage/postgres_data_staging"

  DOCKER_HOST_DBF_SINAN: "/home/runner/storage/sftp2/alertadengue/sinan"
  DOCKER_HOST_IMPORTED_FILES_DIR: "/home/runner/storage/sftp2/alertadengue/sinan/imported"
  DOCKER_HOST_UPLOADED_FILES_DIR: "/home/runner/storage/sftp2/alertadengue/sinan/uploaded"
  DOCKER_HOST_SHAPEFILES_DIR: "/home/runner/storage/shapefiles"
  DOCKER_HOST_TEMP_PARQUET_DIR: "/tmp/dbf_parquet"
  DOCKER_HOST_STATIC: "/home/runner/storage/staticfiles"

  DBF_SINAN: /DBF_SINAN
  IMPORTED_FILES: /IMPORTED_FILES
  MEDIA_ROOT: /MEDIA_ROOT
  STORAGE: "/home/runner/storage/"
  TEMP_FILES_DIR: "/tmp/"
  EPISCANNER_HOST_DIR: "/home/runner/storage/episcanner"


jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    strategy:
      matrix:
        python_version: ["3.9", "3.10", "3.11"]
    concurrency:
      group: ci-${{ matrix.python_version }}-${{ github.ref }}
      cancel-in-progress: false

    defaults:
      run:
        shell: bash -l {0}

    steps:
    - uses: actions/checkout@v4

    - uses: conda-incubator/setup-miniconda@v3
      with:
        miniforge-version: latest
        environment-file: conda/base.yaml
        channels: conda-forge,nodefaults
        activate-environment: alertadengue
        auto-update-conda: true
        conda-solver: libmamba

    - name: Prepare data volumes
      run: |
        mkdir -p /home/runner/storage/postgres_data_dev
        chmod 777 -R /home/runner/storage/postgres_data_dev
        sudo chown 1001:1001 -R /home/runner/storage/postgres_data_dev
        mkdir -p /tmp/dbf_duplicated_csv
        chmod 777 -R /tmp/dbf_duplicated_csv
        mkdir -p /home/runner/storage/episcanner

    - name: Install toolchain and app dependencies
      run: |
        chmod +x scripts/install-deps.sh
        ./scripts/install-deps.sh

    - name: Create env file
      run: |
        pushd .envs
        envsubst < .env.tpl > .env
        popd

    - name: Linting
      run: |
        poetry run pre-commit install -t pre-commit -t commit-msg -t pre-push
        poetry run pre-commit run --all-files

    - name: Build postgres database
      run: |
        sugar --profile dev compose build --services postgres

    - name: Start postgres database
      run: |
        sugar --profile dev compose-ext start --services postgres --options -d

    - name: Start containers
      run: |
        sugar --profile dev compose build
        sugar --profile dev compose-ext start --options -d

    - name: Container wait all
      run: |
          makim develop.container-wait-all --timeout 150

    # - name: Lint (dbdata slice)
      # run: makim tests.lint

    - name: Unit tests (dbdata slice)
      run: makim tests.unit

    - name: Setup tmate session
      if: "${{ failure() }}"
      uses: mxschmitt/action-tmate@v3

    - name: Show logs on failure
      if: ${{ failure() }}
      run: |
        set -euxo pipefail
        sugar --profile dev compose-ext logs -- -n 200
        docker ps -a

    - name: Generate logs
      if: ${{ failure() }}
      run: |
        sugar compose logs --all > /tmp/containers-services.log

    - name: Stop services
      if: ${{ always() }}
      run: |
        set -euxo pipefail
        sugar --profile dev compose-ext stop || true
        sugar --profile dev compose-ext down -- --volumes || true
