# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.8]

    env:
      COMPOSE_FILE: docker/staging-compose.yml
      PYTHON_VERSION: ${{ matrix.python-version }}

    steps:
    - uses: actions/checkout@v2

    - name: Download data files from Dataverse
      run: |
        mkdir -p docker/dev_dumps
        wget https://dataverse.harvard.edu/api/access/datafile/4154429 -O docker/dev_dumps/latest_infodengue.sql.gz
        wget https://dataverse.harvard.edu/api/access/datafile/4154518 -O docker/dev_dumps/latest_dengue.sql.gz

    - name: Copy env template
      run: |
        cp .env.tmpl ./

    - name: install dependencies
      run: |
        make install

    - name: Build and Deploy staging_DB
      id: staging_db
      run: |
        make build_staging SERVICES_STAGING=staging_db
        make start_staging SERVICES_STAGING=staging_db
        docker ps

    - name: Build staging_WEB
      run: |
        make build_staging SERVICES_STAGING=staging_web

    - name: Deploy staging_WEB
      run: |
        make start_staging SERVICES_STAGING=staging_web

    - name: Migrate staging database
      run: |
        make migrate_staging

    - name: Generate MapFiles
      run: |
        make generate_maps_staging

    - name: Run Flake8
      run: |
        make flake8_staging SERVICES_STAGING=staging_web

    - name: Run tests to APPs
      run: |
        make test_staging_web SERVICES_STAGING=staging_web
