name: Release
on:
  workflow_dispatch:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    timeout-minutes: 20

    defaults:
      run:
        shell: bash -l {0}

    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
        submodules: recursive

    - uses: conda-incubator/setup-miniconda@v3
      with:
        miniforge-version: latest
        environment-file: conda/base.yaml
        channels: conda-forge,nodefaults
        activate-environment: alertadengue
        auto-update-conda: true
        conda-solver: libmamba

    - uses: actions/setup-node@v4
      with:
        node-version: '22.14.0'
        check-latest: true

    - name: Test release
      if: ${{ github.event_name != 'workflow_dispatch' }}
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        npx --yes \
          -p semantic-release@latest \
          -p conventional-changelog-conventionalcommits@latest \
          -p @semantic-release/commit-analyzer@latest \
          -p @semantic-release/release-notes-generator@latest \
          -p @semantic-release/changelog@latest \
          -p @semantic-release/exec@latest \
          -p @semantic-release/github@latest \
          -p @semantic-release/git@latest \
          -p semantic-release-replace-plugin@latest \
          semantic-release --dry-run

    - name: Release
      if: ${{ github.event_name == 'workflow_dispatch' }}
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        npx --yes \
          -p semantic-release@latest \
          -p conventional-changelog-conventionalcommits@latest \
          -p @semantic-release/commit-analyzer@latest \
          -p @semantic-release/release-notes-generator@latest \
          -p @semantic-release/changelog@latest \
          -p @semantic-release/exec@latest \
          -p @semantic-release/github@latest \
          -p @semantic-release/git@latest \
          -p semantic-release-replace-plugin@latest \
          semantic-release --ci
