name: Release
on:
  workflow_dispatch:
  push:
    branches: [ main ]
  pull_request:
    branches:  [ main ]

jobs:
  release:
    if: ${{ !github.event.pull_request.draft }}
    name: Release
    runs-on: ubuntu-latest
    timeout-minutes: 20

    defaults:
      run:
        shell: bash -el {0}

    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
        submodules: recursive

    - uses: conda-incubator/setup-miniconda@v3
      with:
        miniforge-version: latest
        environment-file: conda/base.yaml
        channels: conda-forge,nodefaults
        activate-environment: alertadengue
        auto-update-conda: true
        conda-solver: libmamba

    - uses: actions/setup-node@v4
      with:
        node-version: '22.14.0'
        check-latest: true

    - name: Update npm
      run: npm -g update npm

    - name: Run semantic release (for tests)
      if: ${{ github.event_name != 'workflow_dispatch' }}
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: makim release.dry

    - name: Release command
      if: ${{ github.event_name == 'workflow_dispatch' }}
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        PYPI_TOKEN: ${{ secrets.PYPI_TOKEN }}
      run: |
        makim release.ci
